@using KrupaBuildGallery.Model;
@model List<HomeImageVM>
@{
    ViewBag.Title = "HomeImage";

    int counter = 1;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Home Image List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Home Image List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Home Image List</h5>
            </div>
            <div class="card-body vendor-table">

                <div class="btn-popup pull-right">
                    <button type="button" class="btn btn-primary" id="btnAdd">Add Home Image</button>
                </div>

                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th width="15%;">Home Image</th>
                            <th>Heading Text 1</th>
                            <th>Heading Text 2</th>
                            <th width="15%;">Active</th>
                            <th width="15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (HomeImageVM obj in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(obj.HomeImageName))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/HomeMedia/" + obj.HomeImageName)))
                                            {
                                                <img src="~/Images/HomeMedia/@obj.HomeImageName" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                        }

                                    </td>
                                    <td>@obj.HeadingText1</td>
                                    <td>@obj.HeadingText2</td>
                                    @if (obj.IsActive == true)
                                    {
                                        <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@obj.HomeImageId','InActive');">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@obj.HomeImageId','Active');">InActive</span></td>
                                    }

                                    <td>
                                        <a href="/admin/homeimage/edit/@obj.HomeImageId"><i class="fa fa-edit mr-2 font-success"></i></a>
                                        <a href="javascript:void(0);" onclick="fnDeleteCHomeImage('@obj.HomeImageId')"><i class="fa fa-trash font-danger"></i></a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<!-- Delete Modal -->
<div class="modal fade open" id="deleteHomeImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteHomeImage" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnDeleteHomeImage" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>*@

<script>

    //jQuery(document).ready(function () {
    //    StartLoading()
    //    jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    //});

    $(document).on("click", "#btnAdd", function () {
        window.location.href = "/admin/category/add";
    });

    function fnDeleteCHomeImage(HomeImage_Id) {
        jQuery("#hdnDeleteHomeImage").val(HomeImage_Id);
        $('#deleteHomeImageModal').modal('show');
    }

    //jQuery(window).on("load", function () {
    //    StopLoading();
    //});

    jQuery(document).on("click", "#btnDeleteHomeImage", function () {

        var HomeImage_Id = jQuery("#hdnDeleteHomeImage").val();
        if (HomeImage_Id != "" && HomeImage_Id != null) {
            $('#deleteHomeImageModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("DeleteHomeImage", "HomeImages")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?HomeImageId=" + HomeImage_Id,
                success: function (result) {
                    if (result == "success") {
                        alert("Image deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Image Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });
     
     function fnChangeStatus(HomeImage_Id,status) {
         jQuery("#hdndataId").val(HomeImage_Id);
         jQuery("#hdnstatus").val(status);
         if (status == "Active") {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
         }
         else {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
         }
        $('#activeinactiveModal').modal('show');
    }

       jQuery(document).on("click", "#btnChangeStatus", function () {

        var Id = jQuery("#hdndataId").val();
        if (Id != "" && Id != null) {
            $('#activeinactiveModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("ChangeStatus", "HomeImages")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                success: function (result) {
                    if (result == "success") {
                        alert("Status change Successfully...");
                        window.location.reload();
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });

</script>