@using KrupaBuildGallery.Helper;
@using Newtonsoft.Json;
@using KrupaBuildGallery.Model;

@model List<KrupaBuildGallery.ViewModel.ClientUserVM>
@{
    ViewBag.Title = "Customers";

    int counter = 1;
}

@{
    UserPermissionVM objPermission = new UserPermissionVM();

    int RoleId = Int32.Parse(clsAdminSession.RoleID.ToString());

    if (RoleId != 1)
    {
        string strPermission = clsAdminSession.UserPermission;
        objPermission = JsonConvert.DeserializeObject<UserPermissionVM>(strPermission, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    }
    bool IsSA = (RoleId == 1 ? true : false);
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Customer List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Customer</li>
                        <li class="breadcrumb-item active">Customer List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Customer List</h5>
            </div>
            <div class="card-body vendor-table">
                <select class="form-control" id="selectstatus" style="width:150px;" onchange="changestatus();">
                    <option value="-1">All</option>
                    <option value="1">Pending Shipping Charge</option>                  
                </select>
                <br />
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile No.</th>
                            <th>UserName</th>
                            <th>City</th>
                            <th>State</th>
                            <th width="15%;">Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (KrupaBuildGallery.ViewModel.ClientUserVM objusr in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@objusr.FirstName</td>
                                    <td>@objusr.LastName</td>
                                    <td>@objusr.Email</td>
                                    <td>@objusr.MobileNo</td>
                                    <td>@objusr.UserName</td>
                                    <td>@objusr.City</td>
                                    <td>@objusr.State</td>
                                    @if (objusr.IsActive == true)
                                    {
                                        <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@objusr.ClientUserId','InActive');">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@objusr.ClientUserId','Active');">InActive</span></td>
                                    }
                                    <td>
                                        @if (IsSA || objPermission.Customers >= (int)ModulePermission.View)
                                        {
                                            <a href="/admin/customer/detail/@objusr.ClientUserId"><i class="fa fa-eye font-success"></i></a>
                                        }
                                        @if (IsSA || objPermission.Customers >= (int)ModulePermission.Full)
                                        {
                                            <a href="/admin/customer/points/@objusr.ClientUserId" title="points"><i class="fa fa-money font-info"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-trash font-danger"></i></a>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
     function fnChangeStatus(cat_id,status) {
         jQuery("#hdndataId").val(cat_id);
         jQuery("#hdnstatus").val(status);
         if (status == "Active") {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
         }
         else {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
         }
        $('#activeinactiveModal').modal('show');
    }

       jQuery(document).on("click", "#btnChangeStatus", function () {

        var Id = jQuery("#hdndataId").val();
        if (Id != "" && Id != null) {
            $('#activeinactiveModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("ChangeStatus", "Customer")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                success: function (result) {
                    if (result == "success") {
                        alert("Status change Successfully...");
                        window.location.reload();
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
       });
      
      $(document).ready(function () {
        $("#selectstatus").val("@ViewBag.Status");
    });
    function changestatus() {       
        var statusid = $("#selectstatus").val();
        location.href = "/admin/customer?Status="+statusid;       
    }
</script>
