@using KrupaBuildGallery.Model;
@{
    ViewBag.Title = "Checkout";
}
@{
    List<CartVM> lstCartItmms = ViewData["lstCartItems"] as List<CartVM>;
    decimal CartTotal = 0;
    tbl_ClientOtherDetails objClientOther = ViewData["objotherdetails"] as tbl_ClientOtherDetails;
    List<InvoiceItemVM> lstInvoiceItemVM = ViewData["lstInvItem"] as List<InvoiceItemVM>;
    decimal TotalOrderamtt = Convert.ToDecimal(ViewBag.ShippingChargeTotal) + Convert.ToDecimal(ViewBag.TotalOrder);
    decimal WalletAmt = Convert.ToDecimal(ViewBag.WalletAmt);
    string iscashondelivery = Convert.ToString(ViewBag.IsCashOnDelivery);
    decimal AdvancePaymentWithoutShip = Convert.ToDecimal(ViewBag.AdvancePaymentAmt);
    decimal AdvancePaymentWithShip = Convert.ToDecimal(ViewBag.AdvancePaymentAmt) + Convert.ToDecimal(ViewBag.ShippingChargeTotal);
    decimal extramt = Convert.ToDecimal(ViewBag.ExtraAmt);
    TotalOrderamtt = TotalOrderamtt + extramt;
    List<String> lstPincodes = ViewData["availablepincode"] as List<String>;
}
<style>
    .errorcls {
        color: red;
    }

    body {
        overflow: auto !important;
    }
</style>

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Checkout</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            @if (lstCartItmms != null && lstCartItmms.Count() > 0)
            {
                <div class="checkout-form">
                    <form id="frmcheckout">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Shipping Details</h3>
                                </div>
                                <div class="row check-out">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">First Name *</div>
                                        <input type="text" name="shipfirstname" required value="@objClientOther.ShipFirstName" placeholder="">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Last Name *</div>
                                        <input type="text" name="shiplastname" required value="@objClientOther.ShipLastName" placeholder="">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Phone *</div>
                                        <input type="text" name="shipphone" required value="@objClientOther.ShipPhoneNumber" placeholder="">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Email Address</div>
                                        <input type="text" name="shipemailaddress" required value="@objClientOther.ShipEmail" placeholder="">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Address *</div>
                                        <input type="text" name="shipaddress" required value="@objClientOther.ShipAddress" placeholder="Street address">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Town/City *</div>
                                        <input type="text" name="shipcity" required value="@objClientOther.ShipCity" placeholder="">
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <div class="field-label">State *</div>
                                        <select class="form-control" name="shipstate" id="shipstate" required="">
                                            <option value="">Select State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                        <span class="errorcls"></span>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <div class="field-label">Postal Code *</div>
                                        <input type="number" name="shippincode" id="shippincode" required value="@objClientOther.ShipPostalcode" placeholder="" onblur="pincodechange();">
                                        <span class="errorcls"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Product <span>Qty</span></div>
                                        </div>
                                        <ul class="qty">
                                            @if (lstCartItmms != null && lstCartItmms.Count() > 0)
                                            {
                                                foreach (var objcart in lstCartItmms)
                                                {
                                                    decimal Itemttl = objcart.Qty * objcart.Price;
                                                    CartTotal = CartTotal + Itemttl;
                                                    @*<li>@objcart.ItemName × @objcart.Qty <span>&#8377; @Itemttl</span></li>*@
                                                    <li>@objcart.ItemName <span> @objcart.Qty</span></li>
                                                }
                                            }
                                        </ul>
                                        <ul class="sub-total">
                                            @*<li>Subtotal <span class="count">&#8377; @CartTotal</span></li>
                                            <li>Discount <span class="count">&#8377; @ViewBag.TotalDiscount</span></li>*@
                                            <li>
                                                Shipping
                                                <div class="shipping" style="color:#ff4c3b">
                                                    <span id="spnshipmsg">@ViewBag.ShippingMsg</span>
                                                    @*<span id="spnshipamt" style="display:none;">&#8377; @ViewBag.ShippingChargeTotal</span>*@ 
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="total">
                                            @if (extramt > 0)
                                            {
                                                @*<li class="shippingexist">Minimum Purchase Charge<span class="count">&#8377; @extramt</span></li>*@
                                            }
                                            <li class="shippingnotexist">Total <span class="count">&#8377; @ViewBag.TotalOrder</span></li>
                                            <li class="shippingexist" style="display:none;">Total <span class="count">&#8377; @TotalOrderamtt</span></li>
                                            <li><a href="javascript:void(0);" style="font-size:12px;" onclick="ViewDetails();">View Details</a></li>
                                            <li class="shippingnotexist">Advance Payment Amount Total <span class="count clsadvancepay">&#8377; @AdvancePaymentWithoutShip</span></li>
                                            <li class="shippingexist">Advance Payment Amount Total <span class="count clsadvancepay">&#8377; @AdvancePaymentWithShip</span></li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="Orderamount" id="Orderamout" data-withship="@TotalOrderamtt" data-wihoutship="@ViewBag.TotalOrder" value="@ViewBag.TotalOrder" />
                                    <input type="hidden" name="Orderdesc" id="Orderdesc" value="Total @lstCartItmms.Count() items" />
                                    <input type="hidden" id="creditremaining" value="@ViewBag.CreditRemaining" />
                                    <input type="hidden" id="shipamount" name="shipamount" value="@ViewBag.ShippingChargeTotal" />
                                    <input type="hidden" id="walletamtinorder" name="walletamtinorder" value="0" />
                                    <input type="hidden" id="creditamtinorder" name="creditamtinorder" value="0" />
                                    <input type="hidden" id="onlineamtinorder" name="onlineamtinorder" value="0" />
                                    <input type="hidden" id="ordertype" name="ordertype" value="2" />
                                    <input type="hidden" id="extraamount" name="extraamount" value="@extramt" />
                                    <input type="hidden" id="isCashondelivery" name="isCashondelivery" value="@iscashondelivery" />
                                    <input type="hidden" name="advanceamtpay" id="advanceamtpay" data-withship="@AdvancePaymentWithShip" data-wihoutship="@AdvancePaymentWithoutShip" value="@AdvancePaymentWithoutShip" />
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                @if (clsClientSession.UserID > 0 && clsClientSession.RoleID == 2)
                                                {
                                                    <h4 style="margin-bottom:5px;">Payment</h4>
                                                    <ul>
                                                        @if (Convert.ToBoolean(ViewBag.IsCashOnDelivery) == true)
                                                        {
                                                            <li>
                                                                <div class="radio-option">
                                                                    <input type="checkbox" checked readonly="readonly" name="payment-group" style="padding-left: 5px;pointer-events:none;" value="Cash" id="payment-4">
                                                                    <label for="payment-4" style="padding-left: 5px;pointer-events:none;">Cash On Delivery</label>
                                                                </div>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            if (WalletAmt > 0)
                                                            {
                                                                <li>
                                                                    <div class="radio-option">
                                                                        <input type="checkbox" name="payment-group" data-attrblns="@WalletAmt" style="padding-left: 5px;" value="Bywallet" id="payment-3">
                                                                        <label for="payment-3" style="padding-left: 5px;">By Wallet(Balance: ₹ @WalletAmt) <span id="wltamtused"></span> </label>
                                                                    </div>
                                                                </li>
                                                            }
                                                            <li>
                                                                <div class="radio-option">
                                                                    <input type="checkbox" name="payment-group" data-attrblns="@ViewBag.CreditRemaining" style="padding-left: 5px;" value="ByCredit" id="payment-1">
                                                                    <label for="payment-1" style="padding-left: 5px;">By Credit - Current Credit Remaining(₹ @ViewBag.CreditRemaining) <span id="crdttused"></span></label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="radio-option">
                                                                    <input type="checkbox" name="payment-group" data-attrblns="0" style="padding-left: 5px;" value="ByOther" id="payment-2">
                                                                    <label for="payment-2" style="padding-left: 5px;">Online Payments <span id="onlinepymt"></span><span class="small-text">Select to pay by credit card, upi, net banking etc</span></label>
                                                                </div>
                                                            </li>
                                                        }

                                                    </ul>
                                                }
                                                else if (clsClientSession.UserID == 0 || clsClientSession.UserID > 0 && clsClientSession.RoleID == 1)
                                                {
                                                    <h4 style="margin-bottom:5px;">Payment</h4>
                                                    <ul>
                                                        @if (Convert.ToBoolean(ViewBag.IsCashOnDelivery) == true)
                                                        {
                                                            <li>
                                                                <div class="radio-option">
                                                                    <input type="checkbox" readonly="readonly" name="payment-group" checked style="padding-left: 5px;pointer-events:none;" value="Cash" id="payment-4">
                                                                    <label for="payment-4" style="padding-left: 5px;pointer-events:none;">Cash On Delivery</label>
                                                                </div>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            if (WalletAmt > 0)
                                                            {
                                                                <li>
                                                                    <div class="radio-option">
                                                                        <input type="checkbox" name="payment-group" data-attrblns="@WalletAmt" style="padding-left: 5px;" value="Bywallet" id="payment-3">
                                                                        <label for="payment-3" style="padding-left: 5px;">By Wallet(Balance: ₹ @WalletAmt) <span id="wltamtused"></span></label>
                                                                    </div>
                                                                </li>
                                                            }
                                                            <li>
                                                                <div class="radio-option">
                                                                    <input type="checkbox" name="payment-group" data-attrblns="0" style="padding-left: 5px;" value="ByOther" id="payment-2">
                                                                    <label for="payment-2" style="padding-left: 5px;">Online Payments <span id="onlinepymt"></span><span class="small-text">Select to pay by credit card, upi, net banking etc</span></label>
                                                                </div>
                                                            </li>
                                                        }

                                                    </ul>
                                                }

                                            </div>
                                        </div>

                                        <div class="text-right">
                                            @if (clsClientSession.UserID > 0)
                                            {
                                                <a href="javascript:void(0);" class="btn-solid btn" id="rzp-placeorder">Place Order</a>
                                            }
                                            else
                                            {
                                                <a href="/login?referer=checkout" class="btn-solid btn">Place Order</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <p>There is no item for processing checkout.</p>
                <a href="/" class="btn btn-solid">continue shopping</a>
            }

        </div>
    </div>
</section>
<div class="modal fade open" id="checkoutdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Calculation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @if (lstInvoiceItemVM != null && lstInvoiceItemVM.Count() > 0)
                {
                    int countr = 1;
                    decimal totalamts = 0;
                    <table class="table table-bordered table-border-radius" style="width:100%;">
                        <thead>
                            <tr>
                                <th>
                                    Sr.
                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Final Amount
                                </th>
                                <th>
                                    Point Discount
                                </th>
                                <th>
                                    Taxable Amount
                                </th>
                                <th>
                                    GST(%)
                                </th>
                                <th>
                                    GST Amount
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var objj in lstInvoiceItemVM)
                            {
                                totalamts = totalamts + objj.ItemAmount;
                                <tr>
                                    <td>
                                        @countr.
                                    </td>
                                    <td>
                                        @objj.ItemName
                                    </td>
                                    <td>
                                        ₹ @objj.BasicAmount
                                    </td>
                                    <td>
                                        @objj.Qty
                                    </td>
                                    <td>
                                        ₹ @(objj.Qty * objj.BasicAmount)
                                    </td>
                                    <td>
                                        ₹ @objj.Discount
                                    </td>
                                    <td>
                                        ₹ @objj.beforetaxamount
                                    </td>
                                    <td>
                                        @objj.GSTPer.ToString("0.##") %
                                    </td>
                                    <td>
                                        ₹ @objj.GSTAmount
                                    </td>
                                    <td>
                                        ₹ @objj.ItemAmount
                                    </td>
                                </tr>
                                countr++;
                            }
                            @{
                                decimal totlnetamount = Convert.ToDecimal(ViewBag.ShippingChargeTotal) + totalamts;
                                totlnetamount = totlnetamount + extramt;
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Grand Total</th>
                                <td>₹ @totalamts</td>
                            </tr>
                            <tr class="shipexist">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Shipping Charge</th>
                                <td>₹ @ViewBag.ShippingChargeTotal</td>
                            </tr>
                            <tr class="shipnotexist">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Shipping Charge</th>
                                <td>@ViewBag.ShippingMsg</td>
                            </tr>
                            @if (extramt > 0)
                            {
                                <tr class="shipexist">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Minimum Purchase Charge</th>
                                    <td>₹ @extramt</td>
                                </tr>
                            }
                            <tr class="shipexist">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Net Amount</th>
                                <td>₹ @totlnetamount</td>
                            </tr>
                            <tr class="shipnotexist">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Net Amount</th>
                                <td>₹ @totalamts</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<div class="dvrazorpayscript">

</div>
<script>
    var strstate = '@objClientOther.ShipState';
       var lstpincodesstr = @Html.Raw(Json.Encode(lstPincodes));
    $("#shipstate").val(strstate);
    $(document).ready(function () {
        var amt = $("#Orderamout").val();
        if ($("#Orderamout").length > 0 && amt != "" && amt != "0") {
             $.ajax({
                url: '@Url.Action("CreateRazorPaymentOrder", "Checkout")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ Amount: amt,description:$("#Orderdesc").val()}), //add parameter
                success: function (data) {
                    //success
                    $('.dvrazorpayscript').html(data); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
            });
        }
        pincodechange();
        //jQuery(".dvrazorpayscript").load('/checkout/CreateRazorPaymentOrder?Amount=' + amt + '&description=' + $("#Orderdesc").val(), function () {

        //});
    });

    function ViewDetails() {
        if ($("input[name=shippincode]").val() == "" || $("input[name=shippincode]").val() != "389001") {
            $(".shipnotexist").show();
            $(".shipexist").hide();
        }
        else {
            $(".shipnotexist").hide();
            $(".shipexist").show();
        }
        $("#checkoutdetails").modal("show");
    }

    function pincodechange() {
        if ($("input[name=shippincode]").val() != '' && $("input[name=shippincode]").val().length != 6) {
            alert("Please Enter Valid Postalcode");
            return;
        }
        if ($("input[name=shippincode]").val() == "389001") {
            $("#spnshipmsg").hide();
            $("#spnshipamt").show();
            $(".shippingexist").show();
            $(".shippingnotexist").hide();
            var ammt = $("#Orderamout").attr("data-withship");
            $("#Orderamout").val(ammt);
           var ammt1 = $("#advanceamtpay").attr("data-withship");
            $("#advanceamtpay").val(ammt1);
             if ($(".creditremainingcls").length > 0) {
                 var crdtremaining = $("#creditremaining").val();
                 var ordamtt = $("#Orderamout").val();
                 if (parseFloat(crdtremaining) > 0 && parseFloat(crdtremaining) >= parseFloat(ordamtt)) {
                     $(".creditremainingcls").show();
                 }
                 else {
                     $("#payment-2").click();
                     $("#payment-2").att("checked", "checked");
                     $(".creditremainingcls").hide();
                 }
            }
        }
        else {
            $("#spnshipmsg").show();
            $("#spnshipamt").hide();
            $(".shippingexist").hide();
            $(".shippingnotexist").show();
            var ammt = $("#Orderamout").attr("data-wihoutship");
            $("#Orderamout").val(ammt);
                var ammt1 = $("#advanceamtpay").attr("data-wihoutship");
            $("#advanceamtpay").val(ammt1);
             if ($(".creditremainingcls").length > 0) {
                 var crdtremaining = $("#creditremaining").val();
                 var ordamtt = $("#Orderamout").val();
                 if (parseFloat(crdtremaining) > 0 && parseFloat(crdtremaining) >= parseFloat(ordamtt)) {
                     $(".creditremainingcls").show();
                 }
                 else {
                     $("#payment-2").click();
                     $("#payment-2").attr("checked", "checked");
                     $(".creditremainingcls").hide();
                 }
            }
        }

        var amt = $("#Orderamout").val();
        if ($("#isCashondelivery").val() != "True") {
            $("input[name=payment-group]").prop("checked", false).trigger("change");
        }
        if ($("#Orderamout").length > 0 && amt != "" && amt != "0") {
             $.ajax({
                url: '@Url.Action("CreateRazorPaymentOrder", "Checkout")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ Amount: amt,description:$("#Orderdesc").val()}), //add parameter
                success: function (data) {
                    //success
                    $('.dvrazorpayscript').html(data); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

    $(document).on("change", 'input[name=payment-group]', function () {
        var ordeamt = parseFloat($("#advanceamtpay").val());
        var wallamt = 0;
        var isfullothr = false;
        if ($("#payment-3").length > 0) {
            wallamt = parseFloat($("#payment-3").attr("data-attrblns"));
        }
        var credtamt = 0;
        if ($("#payment-1").length > 0) {
           credtamt = parseFloat($("#payment-1").attr("data-attrblns"));
        }

        if ($(this).val() == "Bywallet" && $(this).is(":checked")) {
            if (parseFloat($(this).attr("data-attrblns")) >= ordeamt) {
                $("input[name=payment-group]").not(this).prop("checked", false);
                isfullothr = true;
                $("#onlinepymt").html("₹ 0");
            }
        }
        if ($(this).val() == "ByCredit" && $(this).is(":checked")) {
            if (parseFloat($(this).attr("data-attrblns")) >= ordeamt) {
                $("input[name=payment-group]").not(this).prop("checked", false);
                isfullothr = true;
                $("#onlinepymt").html("₹ 0");
            }
            else {
                if ($("#payment-3").is(":checked") && wallamt >= ordeamt) {
                    $("#payment-3").prop("checked", false);
                }
            }
        }

        if ($(this).val() == "ByOther" && $(this).is(":checked")) {
            if (parseFloat($(this).attr("data-attrblns")) == 0) {
                $("input[name=payment-group]").not(this).prop("checked", false);
                $("#onlinepymt").html("₹ "+ordeamt);
            }
        }

        var onlinepymnt = getOnlinePrice(wallamt, credtamt, ordeamt);
        if (onlinepymnt < 0) {
            onlinepymnt = 0;
            $("#payment-2").prop("checked", false);
        }
        $("#onlinepymt").html("₹" + onlinepymnt);
        $("#payment-2").attr("data-attrblns", onlinepymnt);
        $("#onlineamtinorder").val(onlinepymnt);
        if ($("#payment-2").is(":checked") && onlinepymnt > 0) {
            $.ajax({
                url: '@Url.Action("CreateRazorPaymentOrder", "Checkout")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ Amount: onlinepymnt,description:$("#Orderdesc").val()}), //add parameter
                success: function (data) {
                    //success
                    $('.dvrazorpayscript').html(data); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
            });
        }
    });

    function getOnlinePrice(wltamt, credit, ordeamt) {
        var amtttl = 0;
        var wltused = 0;
        var credtused = 0;
        var reminord = ordeamt;
           $("#crdttused").html("₹" + credtused);
            $("#wltamtused").html("₹" + wltused);
          if ($("#payment-3").length > 0 && $("#payment-3").is(":checked")) {
            amtttl = wltamt + amtttl;
            if (wltamt < reminord) {
                reminord = reminord - wltamt;
                wltused = wltamt;
            }
            else {
                wltused = ordeamt;
            }
        }

        if ($("#payment-1").length > 0 && $("#payment-1").is(":checked")) {
            amtttl = credit + amtttl;
            if (credit < reminord) {
                credtused = credit;
            }
            else {
                credtused = reminord;
            }
        }

        var onlinpy = ordeamt - amtttl;
        if(onlinpy < 0) {

        }
        $("#walletamtinorder").val(wltused.toFixed(2));
        $("#creditamtinorder").val(credtused.toFixed(2));
        $("#crdttused").html("₹" + credtused.toFixed(2));
        $("#wltamtused").html("₹" + wltused.toFixed(2));

        return onlinpy.toFixed(2);
    }
</script>
<script src="~/Scripts/cart.js"></script>