@using KrupaBuildGallery.Helper;
@model  KrupaBuildGallery.ViewModel.OrderVM
<style>
    .label-wrapper {
        display: table;
        float: right;
        min-height: 28px;
    }

    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

        .form-horizontal .form-group:before {
            content: " ";
            display: table
        }

        .form-horizontal .form-group:after {
            clear: both !important
        }

    .form-horizontal .label-wrapper .control-label {
        display: table-cell;
        font-weight: bold;
    }

    .form-text-row {
        /*padding-top: 6px;*/
    }

    .col-md-3 {
        float: left;
    }

    @@media(max-width: 992px) {
        .form-horizontal .label-wrapper {
            float: none;
            margin-bottom: 3px;
            margin-top: 5px
        }
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Order Detail
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/order">Order</a></li>
                        <li class="breadcrumb-item active">Order Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Order Detail</h5>
                    </div>
                    <div class="card-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Order #:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderId</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Order Date:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@CommonMethod.ConvertFromUTC(Model.OrderDate)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Customer:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.ClientUserName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Order Status:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row" id="dvorderstatus">@Model.OrderStatus</div>
                                @*<button type="button" name="" id="cancelorder" class="btn bg-red" style="margin-right: 3px;">
                    Cancel order
                </button>*@
                                @if (Model.OrderStatusId == 1)
                                {
                                    <button type="button" name="btnChangeOrderStatustoconfirm" id="btnChangeOrderStatustoconfirm" onclick="changestatus('Confirmed', 2,'@Model.OrderId');" class="btn btn-primary" style="display: inline-block;">
                                        Change status to Confirmed
                                    </button>
                                    @*<button type="button" name="btnChangeOrderStatustodispatched" id="btnChangeOrderStatustodispatched" class="btn btn-primary" onclick="changestatus('Dispatched',3,'@Model.OrderId');" style="display: none;">
                                        Change status to Dispatched
                                    </button>*@
                                }
                                @*else if (Model.OrderStatusId == 2)
                                {
                                    <button type="button" name="btnChangeOrderStatustodispatched" id="btnChangeOrderStatustodispatched" class="btn btn-primary" onclick="changestatus('Dispatched',3,'@Model.OrderId');" style="display: inline-block;">
                                        Change status to Dispatched
                                    </button>
                                }*@

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Payment Method:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.PaymentType</div>
                            </div>
                        </div>
                        <div class="form-group" style="border-bottom: 1px solid #eff2f7;">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Order Total Amount:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">₹ @Model.OrderAmount</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label" style="font-size:17px;">Shipping Address</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row"></div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Name:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderShipClientName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Phone:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderShipClientPhone</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Address:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderShipAddress</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">City:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderShipCity</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Pincode:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (string.IsNullOrEmpty(Model.OrderPincode))
                                {
                                    <div class="form-text-row">-</div>
                                }
                                else
                                {
                                    <div class="form-text-row">@Model.OrderPincode</div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">State:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.OrderShipState</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Shipping Charge:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (Model.OrderPincode != "389001")
                                {
                                <div class="form-text-row">
                                    <button type="button" name="btnSetShippingCharge" id="btnSetShippingCharge" class="btn btn-primary" onclick="setshipchargemodl('@Model.OrderId');" style="display: inline-block;">
                                        Set Shipping Charge
                                    </button>
                                    <span class="spnshipchrg"></span>
                                </div>
                                }
                                else
                                {
                                 <div class="form-text-row">₹ @Model.ShipmentCharge</div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h5>Order Items</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body vendor-table">
                            <table class="display" id="basic-1">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Product Item Name</th>
                                        <th>Sku</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Discount</th>
                                        <th>GST</th>
                                        <th>Total</th>
                                        <th>Dispatch Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.OrderItems != null && Model.OrderItems.Count > 0)
                                    {
                                        foreach (KrupaBuildGallery.ViewModel.OrderItemsVM objorderItem in Model.OrderItems)
                                        {
                                            decimal Totl = Math.Round((objorderItem.Price * objorderItem.Qty) - objorderItem.Discount + objorderItem.GSTAmt, 2);

                                            <tr>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(objorderItem.ItemImg))
                                                    {
                                                        if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + objorderItem.ItemImg)))
                                                        {
                                                            <img src="~/Images/ProductItemMedia/@objorderItem.ItemImg" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                                    }
                                                </td>
                                                <td>@objorderItem.ItemName</td>
                                                <td>@objorderItem.Sku</td>
                                                <td>₹ @Math.Round(objorderItem.Price, 2)</td>
                                                <td>@objorderItem.Qty</td>
                                                <td>₹ @objorderItem.Discount</td>
                                                <td>₹ @objorderItem.GSTAmt</td>
                                                <td>₹ @Totl</td>
                                                <td id="td_@objorderItem.OrderItemId">
                                                    @if (objorderItem.ItemStatus == 2 || objorderItem.ItemStatus == 7)
                                                    {
                                                        @objorderItem.ItemStatustxt <a href="javascript:void(0);" title="Assign Delivery Person and Dispatched" onclick="assigndeliveryperson('@objorderItem.OrderId','@objorderItem.OrderItemId','@objorderItem.ProductItemId');"><i class="fa fa-user-o font-info"></i></a>
                                                      
                                                    }
                                                    else
                                                    {
                                                        <span>@objorderItem.ItemStatustxt</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <input type="hidden" id="hdnShippingStatus" value="@Model.ShippingStatus" />
</div>
<div class="modal fade open" id="changestatustoconfirmed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Change to "Confirmed"</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Order dispatch within <input type="text" id="txtdys" value="" placeholder="Enter like 3 days, 24 hours, 1 week etc" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="orderidshdn" />
                <input type="hidden" id="statusids" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="savestatustoconfirm" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="changestatustodisplatched" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Change to "Dispatched"</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to change status to dispatched ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="orderidshdn" />
                <input type="hidden" id="statusids" />
                <button id="savestatustodispatched" class="btn btn-primary" type="button">Yes</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="setshipchargemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Set Shipping Charge</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <label>Shipping Charge</label><input type="number" id="txtshipchrg" style="display:inline-block;width:150px;margin-left:12px;" class="form-control" value="" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="orderids" />                
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="setshipcharge" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="assignpersonmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Delivery Person</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <input type="hidden" id="orderids" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnassign" onclick="AssignPerson();" class="btn btn-primary" type="button">Assign</button>
            </div>
        </div>
    </div>
</div>
<script>
    function changestatus(status, statusid, orderid) {
        if (statusid == 2) {
            if ($("#hdnShippingStatus").val() == "1") {
                alert("Shipmment Charges Remaining");
                return;
            }
            $("#changestatustoconfirmed").modal("show");
            $("#changestatustoconfirmed #orderidshdn").val(orderid);
            $("#changestatustoconfirmed #statusids").val(statusid);
        }
        else if (statusid == 3) { 
            if ($("#hdnShippingStatus").val() == "1") {
                alert("Shipmment Charges Remaining");
                return;
            }
            $("#changestatustodisplatched").modal("show");
            $("#changestatustodisplatched #orderidshdn").val(orderid);
            $("#changestatustodisplatched #statusids").val(statusid);
        }
    }

    function setshipchargemodl(orderid) {
        $("#setshipchargemodal").modal("show");
        $("#setshipchargemodal #orderids").val(orderid);
    }
    jQuery(document).on("click", "#savestatustoconfirm", function () {
        if ($("#changestatustoconfirmed #txtdys").val().trim() == "") {
            alert("Please Enter displatch time");
            return;
        }
        var URL = '/Admin/Order/ChangeOrderStatus';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?OrderId=" + $("#changestatustoconfirmed  #orderidshdn").val() + "&Status=" + $("#changestatustoconfirmed #statusids").val() + "&Dispatchtime=" + $("#changestatustoconfirmed #txtdys").val(),
            success: function (result) {
                alert("Order Status Change to Confirmed");
                $("#changestatustoconfirmed").modal("hide");
                $("#btnChangeOrderStatustoconfirm").hide();
                $("#btnChangeOrderStatustodispatched").show();
                  $("#dvorderstatus").html("Confirmed");
            },
            error: function (error) {
                console.log("error");
                alert(error);
              $("#changestatustoconfirmed").modal("hide");
            }
        });

    });

    jQuery(document).on("click", "#savestatustodispatched", function () {
      
        var URL = '/Admin/Order/ChangeOrderStatus';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?OrderId=" + $("#changestatustodisplatched  #orderidshdn").val() + "&Status=" + $("#changestatustodisplatched #statusids").val() + "&Dispatchtime=" + $("#changestatustodisplatched #txtdys").val(),
            success: function (result) {
                alert("Order Status Change to Dispatched");
                 $("#changestatustodisplatched").modal("hide");
                $("#dvorderstatus").html("Dispatched");
                 $("#btnChangeOrderStatustodispatched").hide();
            },
            error: function (resultData) {
                console.log("error");

            }
        });

    });

    jQuery(document).on("click", "#setshipcharge", function () {
        if($("#txtshipchrg").val() == "" || parseInt($("#txtshipchrg").val()) <= 0 ) {
            alert("Please Enter Valid Shipping Charge");
            return;
        }
        var URL = '/Admin/Order/SetShipCharge';
        jQuery.ajax({
            type: 'POST',
            async: true,
             url: URL + "?OrderId=" + $("#setshipchargemodal  #orderids").val() + "&ShippingCharge=" + $("#txtshipchrg").val(),
            success: function (result) {
                alert("Shipping Charge Set Successfully...");
                $("#setshipchargemodal").modal("hide");
                $("#btnSetShippingCharge").hide();
                $(".spnshipchrg").html($("#txtshipchrg").val());
            },
            error: function (resultData) {
                console.log("error");

            }
        });

    });

    function assigndeliveryperson(ordrid,orderitmid,produitmid) {
        $("#assignpersonmodal .modal-body").load('@Url.Action("GetAndAssignDeliveryPerson","Order")',function () {
            $("#assignpersonmodal").modal("show");
            $("#orderidd").val(ordrid);
            $("#orderitmidd").val(orderitmid);
            $("#proditmidd").val(produitmid);          
        });
    }
    function AssignPerson() {
         if ($("#Personname").val() == "0") {
            alert("Please Select Person to Assigned Item");
            return;
        }
        var URL = '/Admin/Order/AssignDeliveryPerson';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?OrderId=" + $("#orderidd").val() + "&OrderItemId=" + $("#orderitmidd").val() + "&PersonId=" + $("#Personname").val(),
            success: function (result) {
                alert("Item Assigned");
                 $("#assignpersonmodal").modal("hide");               
                  $("#td_"+$("#orderitmidd").val()).html("Dispatched");
            },
            error: function (error) {
                console.log("error");
                alert(error);
              $("#assignpersonmodal").modal("hide");
            }
        });
    }
</script>