@model List<KrupaBuildGallery.ViewModel.OrderVM>
@{
    ViewBag.Title = "Orders";

    int counter = 1;
}
    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>
                                Order List
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Order</li>
                            <li class="breadcrumb-item active">Order List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5>Order List</h5>
                </div>
                <div class="card-body vendor-table">
                    <table class="display" id="basic-1">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Customer/Distributor Name</th> 
                                <th>Order Date</th>
                                <th>Order Amount</th>
                                <th>Order Status</th>
                                <th>Payment Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (KrupaBuildGallery.ViewModel.OrderVM objorder in Model)
                                {
                                    string stauscolor = "badge-secondary";
                                    if (objorder.OrderStatusId == 1)
                                    {
                                        stauscolor = "badge-danger";
                                    }
                                    else if (objorder.OrderStatusId == 2)
                                    {
                                        stauscolor = "badge-warning";
                                    }
                                    else if (objorder.OrderStatusId == 3)
                                    {
                                        stauscolor = "badge-success";
                                    }
                                    <tr class="gradeX">
                                        <td>@objorder.OrderId</td>
                                        <td>@objorder.ClientUserName</td> 
                                        <td>@objorder.OrderDate.ToString("dd/MM/yyyy")</td>
                                        <td>₹ @Math.Round(objorder.OrderAmount, 2)</td>
                                        <td><span class="badge @stauscolor">@objorder.OrderStatus</span></td>
                                        <td>@objorder.PaymentType</td>
                                        <td>
                                            <a href="/admin/order/detail/@objorder.OrderId"><i class="fa fa-eye font-success"></i></a>
                                            <a href="javascript:void(0);" onclick="invoiceprint('@objorder.OrderId');" title="Print Invoice"><i class="fa fa-file font-success"></i></a>
                                            <a href="javascript:void(0);" onclick="fnDeleteOrder('@objorder.OrderId')" style="display:none;"><i class="fa fa-trash font-danger"></i></a>
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
        <div style="display: none;" id="dvPrint">

        </div>
    </div>

<script>
     function invoiceprint(orderid) {
          $("#dvPrint").load('/admin/Distributor/PrintInvoice?OrderId='+orderid, function () {                    
             w = window.open();
            w.document.write($("#dvPrint").html());
               setTimeout(function () {
                   w.print();
            w.close();
               },100);
        });
    }
</script>