@using KrupaBuildGallery.Model;
@using KrupaBuildGallery.Helper;

@{
    krupagallarydbEntities _db = new krupagallarydbEntities();

    List<CategoryInfo> lstSideMenu = _db.tbl_Categories.Where(x => x.IsActive && !x.IsDelete).ToList().Select(c => new CategoryInfo
    {
        CategoryId = c.CategoryId,
        CategoryName = c.CategoryName,
        CategoryImage = c.CategoryImage,
        ProductInfo = _db.tbl_Products.Where(a => a.CategoryId == c.CategoryId && a.IsActive && !a.IsDelete).Select(l => new ProductInfo
        {
            ProductId = l.Product_Id,
            ProductName = l.ProductName,
            ProductImage = l.ProductImage,

            SubProductInfo = _db.tbl_SubProducts.Where(a => a.CategoryId == c.CategoryId && a.ProductId == l.Product_Id && a.IsActive && !a.IsDelete).Select(m => new SubProductInfo
            {
                SubProductId = m.SubProductId,
                SubProductName = m.SubProductName,
                SubProductImage = m.SubProductImage
            })

        }).ToList()
    }).ToList();

    // Get settings
    tbl_GeneralSetting objSetting = _db.tbl_GeneralSetting.FirstOrDefault();

    // Get list of categories
    List<List<CategoryVM>> lstCategoryMegaMenu = CommonMethod.GetCategoryForMegaMenu();

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Krupa Build Gallery in Godhra has a wide range of products and services to cater to the varied requirements of their customers.">
    <meta name="keywords" content="Shopping, Saving, Shopping and Saving, Krupa Build Gallery, Online store, ecommerce website">
    <meta name="author" content="Krupa Build Gallery">
    <link rel="icon" href="~/Content/assets/images/favicon/1.png" type="image/x-icon">
    @*<link rel="shortcut icon" href="~/Content/assets/images/favicon/1.png" type="image/x-icon">*@

    <link rel="shortcut icon" href="~/Content/assets/images/dashboard/fav.ico" type="image/x-icon">

    <title>@ViewBag.Title | Shopping & Saving</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/color19.css" media="screen" id="color">

    <!-- latest jquery-->
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>

    <style>
        .divHideScroll::-webkit-scrollbar {
            width: 0 !important
        }

        .divHideScroll {
            overflow: -moz-scrollbars-none;
        }

        .divHideScroll {
            -ms-overflow-style: none;
        }
    </style>

</head>

<body class="divHideScroll">

    <!-- header start -->
    <header class="header-tools marketplace">
        <div class="mobile-fix-option"></div>
        <div class="top-header">

            <div class="container-fluid " style="background-color: #67255A; color: white; font-size: 17px;float: left;">

                <div class="row  p-2">
                    <div class="col-md-9 ml-5">
                        <ul>
                            <li style="padding-left: 15px;">&nbsp;&nbsp;Welcome To Shopping & Saving</li>
                            <li style="padding-left: 15px;">&nbsp;&nbsp;Toll Free   : 1800 - 200 - 7003</li>
                            <li>&nbsp;&nbsp;    <input class="clsSearchText" type="text" name="" placeholder="Search Any Product.." size="34" style="padding: 5px;"></li>
                        </ul>
                    </div>
                    <div class="col-md-* mt-2 pull-right">
                        @if (clsClientSession.UserID == 0)
                        {
                            <a class="text-white" href="javascript:void(0);" title="WishList" onclick="alert('Please login to see wishlist items');"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Wishlist</a>
                        }
                        else
                        {
                            <a class="text-white" href="/wishlist" title="WishList"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Wishlist</a>
                        }
                    </div>
                    <div class="dropdown col-md-* ml-1 pull-right">
                        <ul class="nav navbar-nav ml-auto" style="padding-left: 25px;">
                            <li class="nav-item dropdown">
                                @{
                                    string strnm = "";
                                    if (clsClientSession.UserID > 0)
                                    {
                                        strnm = clsClientSession.FirstName + " " + clsClientSession.LastName;
                                    }
                                    else
                                    {
                                        strnm = "My Account";
                                    }
                                }
                                <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span>&nbsp;  @strnm</span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    @if (clsClientSession.UserID == 0)
                                    {
                                        <a class="dropdown-item" href="/login" data-lng="en">Login</a>
                                        <a class="dropdown-item" href="/register" data-lng="en">Register</a>
                                    }
                                    else
                                    {
                                        <a href="/myprofile" class="dropdown-item">My Profile</a>
                                        <a href="/myprofile/changepassword" class="dropdown-item">Change Password</a>
                                        <a href="/orders" class="dropdown-item">My Orders</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/login/signout" class="dropdown-item">Logout</a>
                                    }

                                    @*<a href="#" class="dropdown-item">Reports</a>
                                        <a href="#" class="dropdown-item">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">Logout</a>*@
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style">
                                        <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-left">
                                                <i class="fa fa-angle-left pr-2"
                                                   aria-hidden="true"></i> Back
                                            </div>
                                        </div>

                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">

                                            @if (lstSideMenu != null && lstSideMenu.Count > 0)
                                            {

                                                foreach (CategoryInfo category in lstSideMenu)
                                                {
                                                    <li>
                                                        <a href="/products/bycategory/@category.CategoryId">@category.CategoryName</a>
                                                        @if (category.ProductInfo != null && category.ProductInfo.Count() > 0)
                                                        {
                                                            <ul>
                                                                @foreach (ProductInfo product in category.ProductInfo)
                                                                {
                                                                    <li>
                                                                        <a href="/products/Byproduct/@product.ProductId">@product.ProductName</a>
                                                                        @if (product.SubProductInfo.Count() > 0)
                                                                        {
                                                                            <ul>
                                                                                @foreach (SubProductInfo subproduct in product.SubProductInfo)
                                                                                {
                                                                                    <li><a href="/products/Bysubproduct/@subproduct.SubProductId">@subproduct.SubProductName</a></li>
                                                                                }
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            }

                                        </ul>

                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="/"><img src="~/Content/assets/images/kbg/logo.png" class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                        </li>
                                        <li>
                                            <a href="/">Home</a>
                                        </li>

                                        @*@if (lstSideMenu != null && lstSideMenu.Count > 0)
                                        {
                                            <li>
                                                <a href="javascript:void(0);">Product</a>
                                                <ul>
                                                    @foreach (CategoryInfo category in lstSideMenu)
                                                    {
                                                        <li>
                                                            <a href="/products/bycategory/@category.CategoryId">@category.CategoryName</a>
                                                            @if (category.ProductInfo != null && category.ProductInfo.Count() > 0)
                                                            {
                                                                <ul>
                                                                    @foreach (ProductInfo product in category.ProductInfo)
                                                                    {
                                                                        <li>
                                                                            <a href="/products/Byproduct/@product.ProductId">@product.ProductName</a>
                                                                            @if (product.SubProductInfo.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (SubProductInfo subproduct in product.SubProductInfo)
                                                                                    {
                                                                                        <li><a href="/products/Bysubproduct/@subproduct.SubProductId">@subproduct.SubProductName</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        </li>

                                                                    }
                                                                </ul>
                                                            }
                                                        </li>

                                                    }
                                                </ul>
                                            </li> 
                                        }*@

                                        @if (lstCategoryMegaMenu != null && lstCategoryMegaMenu.Count > 0)
                                        {
                                            <li class="mega" id="hover-cls">
                                                <a href="#">
                                                    Products
                                                </a>
                                                <ul class="mega-menu full-mega-menu">
                                                    <li>
                                                        <div class="container">
                                                            <div class="row">
                                                                @foreach (List<CategoryVM> lstCat in lstCategoryMegaMenu)
                                                                {
                                                                    <div class="col mega-box">
                                                                        <div class="link-section">
                                                                            <div class="menu-content">
                                                                                <ul>
                                                                                    @foreach (CategoryVM category in lstCat)
                                                                                    {
                                                                                        <li>
                                                                                            <a href="/products/ItemList?CatId=@category.CategoryId">
                                                                                                @category.CategoryName
                                                                                            </a>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                } 
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        }

                                        <li>
                                            <a href="/aboutus">About us</a>
                                        </li>

                                        <li>
                                            <a href="/contactus">Contact us</a>
                                        </li>

                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>

                                        <li>
                                            <a href="/distributorrequest">Request</a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-cart" style="max-height: 250px;" title="First Cart">
                                            <div class="up-text">
                                                <img src="~/Content/assets/images/icon/shopping-cart.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-shopping-cart"></i>
                                                <span class="clscartcount" style="display:none;"></span>
                                            </div>
                                            <ul class="show-div shopping-cart" id="ulCartitems" style="max-height: 250px;overflow: auto;"></ul>
                                        </li>
                                        <li class="onhover-div mobile-cart" style="max-height: 250px;" title="Second Cart">
                                            <div class="up-text">
                                                <img src="~/Content/assets/images/icon/shopping-cart.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-shopping-cart"></i>
                                                <span class="clscartcountsecond" style="display:none;"></span>
                                            </div>
                                            <ul class="show-div shopping-cart" id="ulCartitemssecond" style="max-height: 250px;overflow: auto;"></ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    @RenderBody()


    <!-- footer section start -->
    <footer class="sticky-footer  blur-up lazyload">
        <section class="section-b-space darken-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img style="width: 210px; height: 80px;" src="~/Content/assets/images/kbg/footer-logo.png" alt="">
                            </div>
                            <p style="text-align: justify;">
                                Krupa Build Gallery In Godhra Has a Wide Range Of Products And Services To Cater To The Varied Requirements Of Their Customers. The Staff At This Establishment Are Courteous And Prompt At Providing Any Assistance.
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a target="_blank" href="https://facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://rss.com/"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="padding-left: 5%;">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="/orders">My Orders</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/privacy">Privacy Policy</a></li>
                                    <li><a href="/cancelandrefundpolicy">Cancellation & Refund Policy</a></li>
                                    <li><a href="/termscondition">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>why we choose</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="/contactus">Contact Us</a></li>
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/distributorrequest">Distributor Request</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-map-marker"></i><b>Krupa Build Gallery, </b> <br />
                                        <b>Nr. Vasupujya Society, </b> <br />
                                        <b>Gadukpur Chokadi, Bamroli Road, </b> <br />
                                        <b>Vavdi Buzarg, Godhra-389001 (P.M.S) </b> <br />
                                        <b>Gujarat - INDIA. </b>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        Call Us: +91 98242 43334 <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        +91 98246 43334
                                    </li>
                                    <li><i class="fa fa-envelope-o"></i>Email Us: <a href="#">admin@shopping-saving.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sub-footer dark-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class="footer-end">
                            <p style="text-align: center;">
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2019-20 Copyright - Krupa Build Gallery
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->
    <!--modal popup start-->
    @*<div class="modal fade bd-example-modal-lg theme-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body modal1">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-bg">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="offer-content">
                                            <img src="~/Content/assets/images/Offer-banner.png" class="img-fluid blur-up lazyload" alt="">
                                            <h2>newsletter</h2>
                                            <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                                <div class="form-group mx-sm-3">
                                                    <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL1" placeholder="Enter your email" required="required">
                                                    <button type="submit" class="btn btn-solid" id="mc-submit1">subscribe</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--modal popup end-->
    <!-- Quick-view modal popup start-->
    <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img"><img src="~/Content/assets/images/pro3/1.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2>Women Pink Shirt</h2>
                                <h3>$32.96</h3>
                                <ul class="color-variant">
                                    <li class="bg-light0"></li>
                                    <li class="bg-light1"></li>
                                    <li class="bg-light2"></li>
                                </ul>
                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                </div>
                                <div class="product-description border-product">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons"><a href="#" class="btn btn-solid">add to cart</a> <a href="#" class="btn btn-solid">view detail</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    <!-- exit modal popup start-->
    @*<div class="modal fade bd-example-modal-lg theme-modal exit-modal" id="exit_popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body modal1">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-bg">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="media">
                                            <img src="~/Content/assets/images/stop.png" class="stop img-fluid blur-up lazyload mr-3" alt="">
                                            <div class="media-body text-left align-self-center">
                                                <div>
                                                    <h2>wait!</h2>
                                                    <h4>
                                                        We want to give you
                                                        <b>10% discount</b>
                                                        <span>for your first order</span>
                                                    </h4>
                                                    <h5>Use discount code at checkout</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Add to cart modal popup end-->
    <div class="modal fade open" id="outofstockmodl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Item Out of Stock</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    Item is out of stock. Do you want to add to second cart ?
                    <input type="hidden" id="hdnsecndcartitmid" value="" />
                    <input type="hidden" id="hdnsecndcartqty" value="" />
                    <input type="hidden" id="hdnsecndcartqtyvarint" value="" />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger" type="button">No</button>
                    <button id="btnaddtosecondcrt" class="btn btn-primary" type="button" onclick="addtosecondcart();">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add to cart modal popup end-->
    <div class="modal fade open" id="cashondeliverymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    This Item is Cash on Delivery product. Select Payment Option:"Cash On Delivery / Onine Payment"
                    <input type="hidden" id="hdncscartitmid" value="" />
                    <input type="hidden" id="hdncscartitmidvarint" value="" />
                    <input type="hidden" id="hdncscartqty" value="" />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="addtoCartCashOndelivery('no');">Online Payment</button>
                    <button id="btnCashOnDelivery" class="btn btn-primary" type="button" onclick="addtoCartCashOndelivery('yes');">Cash On Delivery</button>
                </div>
            </div>
        </div>
    </div>
    <!-- tap to top -->
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->
    @if (objSetting != null && !string.IsNullOrEmpty(objSetting.AdvertiseBannerImage))
    {
        <!--modal popup start-->
        <div class="modal fade bd-example-modal-lg theme-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body modal1">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-bg">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <center><img src="@ErrorMessage.AdvertiseDirectoryPath/@objSetting.AdvertiseBannerImage" class="img-fluid blur-up lazyload" alt=""></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal popup end-->
    }

    <!-- fly cart ui jquery-->
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>

    <!-- exitintent jquery-->
    <script src="~/Content/assets/js/jquery.exitintent.js"></script>
    <script src="~/Content/assets/js/exit.js"></script>

    <!-- popper js-->
    <script src="~/Content/assets/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="~/Content/assets/js/slick.js"></script>

    <!-- menu js-->
    <script src="~/Content/assets/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="~/Content/assets/js/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Content/assets/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/Content/assets/js/bootstrap-notify.min.js"></script>

    <!-- footer reveal js-->
    <script src="~/Content/assets/js/footer-reveal.min.js"></script>

    <!-- Fly cart js-->
    <script src="~/Content/assets/js/fly-cart.js"></script>

    <!-- Theme js-->
    <script src="~/Content/assets/js/script.js"></script>

    <script src="~/Scripts/cart.js"></script>
    <script>
        $(window).on('load', function () {
            var adss = getCookie("adsdisplay");
            if (adss == "") {
                if ($('#exampleModal').length > 0) {
                    $('#exampleModal').modal('show');
                }                
                setCookie("adsdisplay", "shown", 1);
            }           
        });
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    
    </script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script>

        function StartLoading() {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        }

        function StopLoading() {
            jQuery.unblockUI();
        }
        $(document).ready(function() {
              $.ajax({
                url: '@Url.Action("CartItemsListTop", "Cart")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //success
                    $("#ulCartitems").html(data); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
              });

              $.ajax({
                url: '@Url.Action("SecondCartItemsListTop", "Cart")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data1) {
                    //success
                    $("#ulCartitemssecond").html(data1); //populate the tab content.

                },
                error: function () {
                    alert("error");
                }
            });

        });

        $(document).on("keypress", ".clsSearchText", function(e) {
             if (e.which == 13) {
                 //do some stuff
                 var strsearchh = $(this).val();
                 location.href = "/search?q="+strsearchh;
             }
        });
        function searchitems() {
            var strsearchh = $("#txtsearchprod").val();
             location.href = "/search?q="+strsearchh;
            }


        $(".lowercase").keyup(function () {
            this.value = this.value.toLowerCase();
        });

        $(".uppercase").keyup(function () {
            this.value = this.value.toLocaleUpperCase();
        });

        $(".sentensecase").keyup(function () {
            this.value = this.value.toLowerCase();
            this.value = this.value.replace(/(?:^|\s)\w/g, function (match) {
                return match.toUpperCase();
            });
        });

        function toTitleCase(str) {
            var lcStr = str.toLowerCase();
            return lcStr.replace(/(?:^|\s)\w/g, function (match) {
                return match.toUpperCase();
            });
        }

        function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  var name = cname + "=";
  var ca = document.cookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function checkCookie() {
  var user = getCookie("username");
  if (user != "") {
    alert("Welcome again " + user);
  } else {
    user = prompt("Please enter your name:", "");
    if (user != "" && user != null) {
      setCookie("username", user, 365);
    }
  }
}

    </script>
</body>

</html>