@using KrupaBuildGallery.Model
@{
    ViewBag.Title = " Add Purchase Payment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<tbl_PurchaseDealers> lstDealers = ViewData["DealerParty"] as List<tbl_PurchaseDealers>;
}
<style>
    .select_input select {
        padding: 8px;
        margin-bottom: 0px;
    }

    .form-row {
        margin-bottom: 15px;
    }

    input:focus {
        outline-color: black;
    }

    #PurchaseItems input {
        width: 90px !important;
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Add Purchase Payment
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/purchase/payments">Purchase Payments</a></li>
                        <li class="breadcrumb-item active">Add Purchase Payment</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Add Purchase Payment</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("AddPayment", "Purchase", FormMethod.Post, new { ID = "theFormId", enctype = "multipart/form-data", autocomplete = "off", @class = "theme-form" }))
                        {
                            <div class="form-row">
                                <div class="col-md-4 select_input">
                                    <label for="partydealer">Party Dealer *</label>
                                    <select class="form-control" name="partydealer" id="partydealer" required="">
                                        @if (lstDealers != null && lstDealers.Count() > 0)
                                        {
                                            <option value="0">Select</option>
                                            foreach (var obj in lstDealers)
                                            {
                                                <option value="@obj.Pk_Dealer_Id" data-firtname="@obj.FirmName" data-ownername="@obj.OwnerName" data-firmstate="@obj.State" data-firmcity="@obj.FirmCity" data-firmpincode="@obj.Pincode" data-firmcontact="@obj.FirmContactNo" data-firtgst="@obj.FirmGSTNo">@obj.BussinessCode - @obj.FirmName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 select_input">
                                    <label for="purchasebills">Purchase Bill *</label>
                                    <select class="form-control" name="purchasebills" id="purchasebills" onchange="billchange();">
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="paymentdate">Payment Date *</label>
                                    <input type="text" class="form-control" id="paymentdate" name="paymentdate" value="" placeholder="Payment Date" required="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="firmname">Firm Name</label>
                                    <input type="text" class="form-control" id="firmname" name="firmname" value="" style="pointer-events:none;" placeholder="">
                                </div>
                                <div class="col-md-4">
                                    <label for="ownername">Owner Name</label>
                                    <input type="text" class="form-control" id="ownername" name="ownername" value="" style="pointer-events:none;" placeholder="">
                                </div>
                                <div class="col-md-4">
                                    <label for="firmcontact">Firm Contact Number</label>
                                    <input type="text" class="form-control" id="firmcontact" name="firmcontact" value="" style="pointer-events:none;" placeholder="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="gstnum">GST Number</label>
                                    <input type="text" class="form-control" id="gstnum" name="gstnum" value="" style="pointer-events:none;" placeholder="">
                                </div>
                                <div class="col-md-4">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" name="city" value="" style="pointer-events:none;" placeholder="">
                                </div>
                                <div class="col-md-4">
                                    <label for="state">State</label>
                                    <input type="text" class="form-control" id="state" name="state" value="" style="pointer-events:none;" placeholder="">
                                </div>
                            </div>
                            <hr/>
                            <span><b>Amount Due for Bill: </b></span><span id="spnamtdue" style="font-weight:bold;"></span>
                            <div class="form-row">
                                <div class="col-md-4 select_input">
                                    <label for="paymentby">Payment By *</label>
                                    <select class="form-control" name="paymentby" id="paymentby" onchange="paymenttypechange();">
                                        <option value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Bank Transfer">Bank Transfer</option>
                                    </select>
                                </div>
                                <div class="col-md-4 select_input">
                                    <label for="amount">Amount*</label>
                                    <input type="number" class="form-control" value="" id="amount" name="amount" />
                                </div>
                                <div class="col-md-4 select_input">
                                    <label for="vatav">Vatav</label>
                                    <input type="number" class="form-control" value="" id="vatav" name="vatav" />
                                </div>
                            </div>
                            <div class="form-row dvcheq" style="display:none;">
                                <div class="col-md-4">
                                    <label for="cheqnum">Cheque Number*</label>
                                    <input type="text" class="form-control" value="" id="cheqnum" name="cheqnum" />
                                </div>
                                <div class="col-md-4">
                                    <label for="cheqnum">Cheque Date*</label>
                                    <input type="text" class="form-control" value="" id="chqdate" name="chqdate" />
                                </div>
                                <div class="col-md-4">
                                    <label for="cheqnum">Bank Name*</label>
                                    <input type="text" class="form-control" value="" id="cheqbank" name="cheqbank" />
                                </div>
                            </div>
                            <div class="form-row dvbank" style="display:none;">
                                <div class="col-md-4">
                                    <label for="accnum">Account Number*</label>
                                    <select class="form-control" name="accnum" id="accnum" >

                                    </select>
                                </div>                                                  
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="remarks" style="vertical-align:top">Remarks</label>
                                    <textarea id="remarks" name="remarks" style="width:280px;height:100px;"></textarea>
                                </div>                                
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="SavePayment();">Save Payment</button>
                                    <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/prism.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
<script>
    var flgBillExist = false;
    var jid = 0;
    $(document).ready(function () {
        $("#paymentdate").datepicker({
            format: "dd/mm/yyyy",
        });
        $("#chqdate").datepicker({
            format: "dd/mm/yyyy",
        });

    });
    $("#partydealer").select2();
    
    function paymenttypechange() {
        $(".dvcheq").hide();
        $(".dvbank").hide();
        if ($("#paymentby").val() == "Cheque") {
            $(".dvcheq").show();
        }
        else if ($("#paymentby").val() == "Bank Transfer") {
            $(".dvbank").show();
        }
        else {
            $(".dvcheq").hide();
            $(".dvbank").hide();
        }
    }

    function billchange() {
        debugger;
        $("#spnamtdue").html("₹"+ $("#purchasebills option:selected").attr("data-amt"));
    }

    function checkdetails() {
        return true;
    }

    $("#partydealer").change(function () {
        $("#firmname").val($("#partydealer option:selected").attr("data-firtname"));
        $("#ownername").val($("#partydealer option:selected").attr("data-ownername"));
        $("#firmcontact").val($("#partydealer option:selected").attr("data-firmcontact"));
        $("#gstnum").val($("#partydealer option:selected").attr("data-firtgst"));
        $("#city").val($("#partydealer option:selected").attr("data-firmcity"));
        $("#state").val($("#partydealer option:selected").attr("data-firmstate"));

        var delrid = $("#partydealer").val();

        if (delrid != "" && delrid != "0") {
            var URL = '@Url.Action("GetPurchaseBills", "Purchase")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "?DealerId=" + delrid,
                success: function (result) {
                    var htmlData = "<option value=''>-Select Bill-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.PurchaseId + "' data-amt='" + element.OutStandingAmt + "' > " + element.BillNo + " (" + element.BillYear+") </option>";
                        });
                    }
                    $("#purchasebills").html(htmlData);
                    $("#purchasebills").select2();
                },
                error: function (error) {
                }
            });

             var URL = '@Url.Action("GetAccNum", "Purchase")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "?DealerId=" + delrid,
                success: function (result) {
                    var htmlData = "<option value=''>-Select Account Number-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='"+ element+"' > " + element+" </option>";
                        });
                    }
                    $("#accnum").html(htmlData);

                },
                error: function (error) {
                }
            });
            
        }
        else {
            var htmlSubData = "<option value=''>- Select Bill -</option>";
            $("#purchasebills").html(htmlSubData);

            var htmlData1 = "<option value=''>-Select Account Number-</option>";
            $("#accnum").html(htmlData1);
            $("#purchasebills").select2();
        }


    });

    $(document).ready(function () {

    });


    function SavePayment() {
        var isvalid = true;
        StartLoading()

        if ($("#partydealer").val() == "" || $("#partydealer").val() == "0") {
            alert("Please Select Dealer");
            isvalid = false;
            StopLoading();
        }
        else if ($("#paymentdate").val() == "") {
            isvalid = false;
            alert("Please Select Payment Date");
            StopLoading();
        }
        else if ($("#amount").val() == "0" || $("#amount").val() == "")
        {
            isvalid = false;
            alert("Please Enter Amount of Payment");
            StopLoading();
        }
        else if($("#paymentby").val() == "Cheque") {
            if ($("#cheqnum").val() == "") {
                isvalid = false;
                alert("Please Enter Cheque Number");
                StopLoading();
            }
            else if ($("#chqdate").val() == "") {
                isvalid = false;
                alert("Please Enter Cheque Date");
                StopLoading();
            }
            else if ($("#cheqbank").val() == "") {
                isvalid = false;
                alert("Please Enter Cheque Bank Name");
                StopLoading();
            }
        }

        if (isvalid == true) {
            $.ajax({
                type: 'POST',
                url: '/Admin/Purchase/AddPayment',
                data: $('#theFormId').serialize(),
                success: function (msg) {
                    if (msg == "Success") {
                        alert("saved successfully!");
                        StopLoading();
                        location.reload();
                    }
                    else {
                        alert(msg);
                        StopLoading();
                    }
                }
            });
        }

    }

</script>
<script>

    $(document).on("click", "#btnCancel", function () {
        window.location.href = "/admin/purchase/payments";
    });

</script>
