@using KrupaBuildGallery.Helper;
@model ItemStockVM

@{
    ViewBag.Title = "ItemStock";
}

<style>
    .labeltext {
        font-weight: bold;
        font-size: 14px;
        color: #000000;
    }

    .labelvalue {
        font-size: 14px;
        color: #000000;
        padding-left: 15px;
    }

    .profile-table table tbody tr td:first-child {
        min-width: 150px;
        font-weight: bold;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Stock - @Model.ProductItemName
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/stock">Stock</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Stock</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>

                                        <tr>
                                            <td>Category Name:</td>
                                            <td>@Model.CategoryName</td>
                                        </tr>

                                        <tr>
                                            <td>Product Name:</td>
                                            <td>@Model.ProductName</td>
                                        </tr>

                                        <tr>
                                            <td>Sub Product Name:</td>
                                            <td>@Model.SubProductName</td>
                                        </tr>

                                        <tr>
                                            <td>Product Item Name:</td>
                                            <td>@Model.ProductItemName</td>
                                        </tr>

                                        <tr>
                                            <td>Quantity:</td>
                                            <td>@Model.Quantity</td>
                                        </tr>
                                        <tr>
                                            <td>Fake Stock:</td>
                                            <td>@Model.FakeStock</td>
                                        </tr>
                                        <tr>
                                            <td>Created By:</td>
                                            <td>@Model.strCreatedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Created Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.CreatedDate)</td>
                                        </tr>

                                        <tr>
                                            <td>Modified By:</td>
                                            <td>@Model.strModifiedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Modified Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.UpdatedDate)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                             
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
 