@using KrupaBuildGallery.Helper;
@model AdminUserVM

@{
    ViewBag.Title = "AdminUser";
}

<style>
    .labeltext {
        font-weight: bold;
        font-size: 14px;
        color: #000000;
    }

    .labelvalue {
        font-size: 14px;
        color: #000000;
        padding-left: 15px;
    }

    .profile-table table tbody tr td:first-child {
        min-width: 150px;
        font-weight: bold;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Admin User - @Model.FirstName  @Model.LastName
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/adminuser">Admin User</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Admin User</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            <td>Profile Image:</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                                                {
                                                    if (File.Exists(Server.MapPath("~/Images/AdminUserMedia/" + Model.ProfilePicture)))
                                                    {
                                                        <a target="_blank" href="~/Images/AdminUserMedia/@Model.ProfilePicture">
                                                            <img src="~/Images/AdminUserMedia/@Model.ProfilePicture" style="width: 50px; height: 50px;" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <img src="@ErrorMessage.DefaultImagePath" style="width: 50px; height: 50px;" />
                                                    }
                                                }
                                                else
                                                {
                                                    <img src="@ErrorMessage.DefaultImagePath" style="width: 50px; height: 50px;" />
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>First Name:</td>
                                            <td>@Model.FirstName</td>
                                        </tr>
                                        <tr>
                                            <td>Last Name:</td>
                                            <td>@Model.LastName</td>
                                        </tr>
                                        <tr>
                                            <td>Email Id:</td>
                                            <td>@Model.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile No:</td>
                                            <td>@Model.MobileNo</td>
                                        </tr>
                                        <tr>
                                            <td>Password:</td>
                                            <td>@Model.Password</td>
                                        </tr>
                                        <tr>
                                            <td>Alternate Mobile No:</td>
                                            <td>@Model.AlternateMobile</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>@Model.Address</td>
                                        </tr>
                                        <tr>
                                            <td>City:</td>
                                            <td>@Model.City</td>
                                        </tr>
                                        <tr>
                                            <td>Designation:</td>
                                            <td>@Model.Designation</td>
                                        </tr>
                                        <tr>
                                            <td>Date Of Birth:</td>
                                            <td>@Model.Dob</td>
                                        </tr>
                                        <tr>
                                            <td>Date Of Joining:</td>
                                            <td>@Model.DateOfJoin</td>
                                        </tr>
                                        <tr>
                                            <td>Blood Group:</td>
                                            <td>@Model.BloodGroup</td>
                                        </tr>
                                        <tr>
                                            <td>Working Time:</td>
                                            <td>@Model.WorkingTime</td>
                                        </tr>
                                        <tr>
                                            <td>Adhar Card No:</td>
                                            <td>@Model.AdharCardNo</td>
                                        </tr>
                                        <tr>
                                            <td>Id Card Expiry Date:</td>
                                            <td>@Model.DateOfIdCardExpiry</td>
                                        </tr>
                                        <tr>
                                            <td>Remarks:</td>
                                            <td>@Model.Remarks</td>
                                        </tr>

                                        <tr>
                                            <td>Created By:</td>
                                            <td>@Model.strCreatedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Created Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.CreatedDate)</td>
                                        </tr>

                                        <tr>
                                            <td>Modified By:</td>
                                            <td>@Model.strModifiedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Modified Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.UpdatedDate)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                             
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>

<script>
</script>
