@using KrupaBuildGallery.Model;
@model tbl_GeneralSetting
@{
    ViewBag.Title = "General Settings";
    List<tbl_ExtraAmount> lstAmmtt = ViewData["extramtlst"] as List<tbl_ExtraAmount>;
    int cnt = 0;
}

<style>
    .clserror {
        color: red;
    }

    #tblextraamt td {
        padding:5px;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            General Settings
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">General Settings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>General Settings</h5>
                    </div>
                    <div class="card-body">
                        <form id="frmgensettings">

                            <div class="form-group row">
                                <label for="txtpointinitial" class="col-xl-3 col-md-4">Intial Points for Customer</label>
                                <input type="number" class="form-control col-md-8" id="txtpointinitial" value="@Model.InitialPointCustomer" name="txtpointinitial" placeholder="Intial Points">

                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_Intialpoints" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtshippingmsg" class="col-xl-3 col-md-4">Shipping Charge Message</label>
                                <input type="text" class="form-control col-md-8" id="txtshippingmsg" value="@Model.ShippingMessage" name="txtshippingmsg" placeholder="Enter Shipping Message">

                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_shippingmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtSmtpHost" class="col-xl-3 col-md-4">SMTP Host</label>
                                <input type="text" class="form-control col-md-8" id="txtSmtpHost" value="@Model.SMTPHost" name="txtSmtpHost" placeholder="Enter SMTP Host">

                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_smtphostmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtSmtpPort" class="col-xl-3 col-md-4">SMTP Port</label>
                                <input type="text" class="form-control col-md-8" id="txtSmtpPort" value="@Model.SMTPPort" name="txtSmtpPort" placeholder="Enter SMTP Port">

                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_smtpportmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtSmtpEmail" class="col-xl-3 col-md-4">SMTP Email</label>
                                <input type="text" class="form-control col-md-8" id="txtSmtpEmail" value="@Model.SMTPEmail" name="txtSmtpEmail" placeholder="Enter SMTP Email">

                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_smtpemailmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtSmtpPwd" class="col-xl-3 col-md-4">SMTP Password</label>
                                <input type="text" class="form-control col-md-8" id="txtSmtpPwd" value="@Model.SMTPPwd" name="txtSmtpPwd" placeholder="Enter SMTP Pwd">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_smtppwdmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtenablessl" class="col-xl-3 col-md-4">Enable SSL</label>
                                @if (Model.EnableSSL == true)
                                {
                                    <label class="radio-inline"><input type="radio" name="rdbSSL" value="Yes" checked>Yes</label>
                                    <label class="radio-inline"><input type="radio" name="rdbSSL" value="No">No</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" name="rdbSSL" value="Yes">Yes</label>
                                    <label class="radio-inline"><input type="radio" name="rdbSSL" value="No" checked>No</label>
                                }
                                <lable class="col-xl-3 col-md-4"></lable>
                            </div>
                            <div class="form-group row">
                                <label for="txtadminemail" class="col-xl-3 col-md-4">Admin Email</label>
                                <input type="text" class="form-control col-md-8" id="txtadminemail" value="@Model.AdminEmail" name="txtadminemail" placeholder="Enter Admin Email">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_admnemailmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtfrommail" class="col-xl-3 col-md-4">From Email</label>
                                <input type="text" class="form-control col-md-8" id="txtfrommail" value="@Model.FromEmail" name="txtfrommail" placeholder="Enter From Email">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_fromemailmsg" class="clserror"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtsmsmobil" class="col-xl-3 col-md-4">Admin SMS Mobile Number</label>
                                <input type="text" class="form-control col-md-8" id="txtsmsmobil" value="@Model.AdminSMSNumber" name="txtsmsmobil" placeholder="Enter Admin SMS Mobile Number">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <span id="spn_smsmobilemsg" class="clserror"></span>
                            </div>
                            <button id="btnSavesettings" type="button" class="btn btn-primary">Save Settings</button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5>Extra Amount Settings</h5>
                    </div>
                    <div class="card-body">
                        <form id="frmgensettings11">
                            <table id="tblextraamt">
                                <thead>
                                    <tr>
                                        <th>
                                            From Amount
                                        </th>
                                        <th>
                                            To Amount
                                        </th>
                                        <th>
                                            Extra Amount in Order
                                        </th>
                                        <th>

                                        </th>
                                    <tr>
                                </thead>
                                <tbody id="tbodytbl">
                                    @if (lstAmmtt != null && lstAmmtt.Count() > 0)
                                    {

                                        foreach (var objj in lstAmmtt)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="number" class="form-control" data-attramfrm="@cnt" value="@objj.AmountFrom" name="txtAmtFrom_@cnt" id="txtAmtFrom_@cnt" />
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" data-attramto="@cnt" value="@objj.AmountTo" name="txtAmtTo_@cnt" id="txtAmtTo_@cnt" />
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" data-attramt="@cnt" value="@objj.ExtraAmount" name="txtExtrAmt_@cnt" id="txtExtrAmt_@cnt" />
                                                    <input type="hidden" name="hdntrnumbr" value="@cnt" />
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="deleterow(this);">X</a>
                                                </td>
                                            </tr>
                                            cnt = cnt + 1;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <input type="number" class="form-control" data-attramfrm="@cnt" name="txtAmtFrom_@cnt" value="" id="txtAmtFrom_@cnt" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" data-attramto="@cnt"  name="txtAmtTo_@cnt" value="" id="txtAmtTo_@cnt" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" data-attramt="@cnt" name="txtExtrAmt_@cnt" value="" id="txtExtrAmt_@cnt" />
                                                <input type="hidden" name="hdntrnumbr" value="@cnt" />
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" onclick="deleterow(this);">X</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" style="text-align:right;">
                                            <input type="button" class="btn btn-secondary" onclick="AddNewRange();" value="Add New Range" />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br/>
                            <button id="btnExtraAmtSetting" type="button" class="btn btn-primary" onclick="SaveExtraAmt();">Save Settings</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    var cntsrow = $("#tblextraamt tbody tr").length;
    jQuery(document).on("click", "#btnSavesettings", function () {
        var requiredMessage = 'This field is required';
        var flag = true;
        jQuery(".clserror").hide();

        var intialpoints = jQuery.trim(jQuery("#txtpointinitial").val());
        var shippingmsg = jQuery.trim(jQuery("#txtshippingmsg").val());

        if (intialpoints == "" || intialpoints == null) {
            jQuery("#spn_Intialpoints").text(requiredMessage);
            jQuery("#spn_Intialpoints").show();
            flag = false;
        }
        if (shippingmsg == "" || shippingmsg == null) {
            jQuery("#spn_shippingmsg").text(requiredMessage);
            jQuery("#spn_shippingmsg").show();
            flag = false;
        }

        if (flag) {
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("SaveGeneralSetting", "GeneralSetting")';
            jQuery.ajax({
                url: URL,
                type: 'POST',
                data: jQuery('#frmgensettings').serialize(),
                success: function (data) {
                    $.unblockUI();
                    if (data == "Success") {
                        alert("Settings Save successfully");
                      }
                    else {
                        alert("Error: Something went wrong. Please try again.");
                    }
                },
                error: function (data) {
                    alert("Something went wrong. Please try again.");
                }

            });
        }


    });

    function AddNewRange() {
          var $row = $("<tr>");
    $row.append($("<td>").html("<input type='number' class='form-control' data-attramfrm='"+cntsrow+"' value=''  name='txtAmtFrom_" + cntsrow + "' id='txtAmtFrom_"+cntsrow+"'/>"));
        $row.append($("<td>").html("<input type='number' class='form-control'  data-attramto='" + cntsrow + "' value='' name='txtAmtTo_" + cntsrow + "' id='txtAmtTo_" + cntsrow + "'/>"));
        $row.append($("<td>").html("<input type='number' class='form-control' data-attramt='" + cntsrow + "' value='' name='txtExtrAmt_" + cntsrow + "' id='txtExtrAmt_" + cntsrow + "'/> <input type='hidden' name='hdntrnumbr' value='"+cntsrow+"' />"));
        $row.append($("<td>").html("<a href='javascript:void(0);' onclick='deleterow(this);'>X</a>"));        
       $row.appendTo($("#tbodytbl"));
        cntsrow = cntsrow + 1;
    }

    function deleterow(objthis) {
        $(objthis).parents('tr').remove();
    }

    function SaveExtraAmt() {
        if ($("#tbodytbl input[type=number][value='']").length > 0) {
            alert("Please Enter Value in Empty box.");
            return;
        }

        $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("SaveExtraAmtSetting", "GeneralSetting")';
            jQuery.ajax({
                url: URL,
                type: 'POST',
                data: jQuery('#frmgensettings11').serialize(),
                success: function (data) {
                    $.unblockUI();
                    if (data == "Success") {
                        alert("Extra amount settings save successfully");
                      }
                    else {
                        alert("Error: Something went wrong. Please try again.");
                    }
                },
                error: function (data) {
                    alert("Something went wrong. Please try again.");
                }

            });
    }
</script>
