
@using KrupaBuildGallery.Helper;
@model AdvertiseImageVM

@{
    ViewBag.Title = "AdvertiseImage";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Edit Advertise Image
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/advertiseimages">Advertise Images</a></li>
                        <li class="breadcrumb-item active">Edit Advertise Image</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Advertise Image</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "AdvertiseImages", FormMethod.Post, new { @id = "AdvertiseImagesFormId", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ImageFor, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.ImageFor, new SelectList(Model.AdvertiseImageForList, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8", style = "" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ImageFor, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SliderType, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.SliderType, new SelectList(Model.SliderTypeList, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8", style = "" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.SliderType, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.AdvertiseImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextBoxFor(model => model.AdvertiseImageFile, new { type = "file", @class = "form-control col-md-8" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.AdvertiseImageFile, "", new { @class = "text-danger" })
                            </div>

                            if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <div class="form-group row">
                                    <lable class="col-xl-3 col-md-4"></lable>
                                    <p><a target="_blank" href="@ErrorMessage.AdvertiseDirectoryPath/@Model.ImageUrl"> Click here to view image </a></p>
                                </div>
                            }

                            <div class="form-group row">
                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.HiddenFor(x => x.AdvertiseImageId)
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).on("click", "#btnCancel", function () {
        window.location.href = "/admin/advertiseimages";
    });
</script>