@using KrupaBuildGallery.Helper;
@using Newtonsoft.Json;
@using KrupaBuildGallery.Model;

@model List<SubProductVM>

@{
    ViewBag.Title = "SubProduct";

    int counter = 1;
}

@{
    UserPermissionVM objPermission = new UserPermissionVM();

    int RoleId = Int32.Parse(clsAdminSession.RoleID.ToString());

    if (RoleId != 1)
    {
        string strPermission = clsAdminSession.UserPermission;
        objPermission = JsonConvert.DeserializeObject<UserPermissionVM>(strPermission, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    }
    bool IsSA = (RoleId == 1 ? true : false);
     List<SelectListItem> lstCats = ViewData["CategoryList"] as List<SelectListItem>;
    List<SelectListItem> lstProdts = ViewData["ProductList"] as List<SelectListItem>;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Sub Product List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Sub Product List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Sub Product List</h5>
            </div>
            <div class="card-body vendor-table">
                <h3>Filter:</h3>
                <div class="row" style="margin-top:25px;border-bottom: 2px solid #f8f8f9;padding-bottom: 25px;margin-bottom: 10px;">

                    <div class="col-sm-3">
                        <label>Categories</label>
                        <select id="selectcat" class="form-control" onchange="selectcatchange();">
                            <option value="-1">All</option>
                            @if (lstCats != null && lstCats.Count() > 0)
                            {
                                foreach (var objc in lstCats)
                                {
                                    <option value="@objc.Value">@objc.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Products</label>
                        <select id="selectprod" class="form-control">
                            <option value="-1">All</option>
                            @if (lstProdts != null && lstProdts.Count() > 0)
                            {
                                foreach (var objc in lstProdts)
                                {
                                    <option value="@objc.Value">@objc.Text</option>
                                }
                            }
                        </select>
                    </div>                  
                    <div class="col-sm-2">
                        <label>Status</label>
                        <select id="selectstatus" class="form-control">
                            <option value="-1">All</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <input type="button" value="Filter" class="btn btn-info" onclick="filteritems();" style="position: absolute; bottom: 0;" />
                    </div>
                </div>

                @if (IsSA || objPermission.SubProduct >= (int)ModulePermission.Add)
                {
            <div class="btn-popup pull-right">
                <button type="button" class="btn btn-primary" id="btnAdd">Add Sub Product</button>
                <button type="button" class="btn btn-primary" id="btnImport">Import Sub Product</button>
            </div>
                }
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th width="15%;">Image</th>
                            <th>Sub Product Name</th>
                            <th>Product Name</th>
                            <th>Category Name</th>
                            <th width="15%;">Active</th>
                            <th width="15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (SubProductVM product in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(product.SubProductImage))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/SubProductMedia/" + product.SubProductImage)))
                                            {
                                                <img src="~/Images/SubProductMedia/@product.SubProductImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            }
                                            else
                                            {
                                                <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                        }

                                    </td>
                                    <td>@product.SubProductName</td>
                                    <td>@product.ProductName</td>
                                    <td>@product.CategoryName</td>
                                    @if (product.IsActive == true)
                                    {
                                        <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@product.SubProductId','InActive');">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@product.SubProductId','Active');">InActive</span></td>
                                    }
                                    <td>
                                        @if (IsSA || objPermission.SubProduct >= (int)ModulePermission.View)
                                        {
                                            <a href="/admin/subproduct/view/@product.SubProductId"><i class="fa fa-eye mr-2 font-success"></i></a>
                                        }
                                        @if (IsSA || objPermission.SubProduct >= (int)ModulePermission.Edit)
                                        {
                                            <a href="/admin/subproduct/edit/@product.SubProductId"><i class="fa fa-edit mr-2 font-success"></i></a>
                                        }
                                        @if (IsSA || objPermission.SubProduct == (int)ModulePermission.Full)
                                        {
                                            <a href="javascript:void(0);" onclick="fnDeleteSubProduct('@product.SubProductId')"><i class="fa fa-trash font-danger"></i></a>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteSubProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteSubProduct" />
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btnDeleteSubProduct" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>*@
<script type="text/javascript" charset="utf-8">
    var prodid = '-1';
    $(document).on("click", "#btnAdd", function () {
        window.location.href = "/admin/subproduct/add";
    });
    $(document).ready(function () {
        console.log("redy");
        console.log("@ViewBag.CatId");
        console.log("@ViewBag.ProductId");
        $("#selectcat").val("@ViewBag.CatId");
        selectcatchange();
        prodid = "@ViewBag.ProductId";
         $("#selectprod").val("@ViewBag.ProductId");        
         $("#selectstatus").val('@ViewBag.Active');
    });
    //jQuery(document).ready(function () {
    //    StartLoading();
    //    jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    //});

    //jQuery(window).on("load", function () {
    //    StopLoading();
    //});

    jQuery(document).on("click", "#btnDeleteSubProduct", function () {

        var SubProduct_Id = jQuery("#hdnDeleteSubProduct").val();
        if (SubProduct_Id != "" && SubProduct_Id != null) {
            $('#deleteSubProductModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteSubProduct", "SubProduct")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?SubProductId=" + SubProduct_Id,
                success: function (result) {
                    if (result == "success") {
                        alert("Sub Product deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Product Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteSubProduct(SubProduct_id) {
        jQuery("#hdnDeleteSubProduct").val(SubProduct_id);
        $('#deleteSubProductModal').modal('show');
    }
     function fnChangeStatus(cat_id,status) {
         jQuery("#hdndataId").val(cat_id);
         jQuery("#hdnstatus").val(status);
         if (status == "Active") {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
         }
         else {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
         }
        $('#activeinactiveModal').modal('show');
    }

       jQuery(document).on("click", "#btnChangeStatus", function () {

        var Id = jQuery("#hdndataId").val();
        if (Id != "" && Id != null) {
            $('#activeinactiveModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("ChangeStatus", "SubProduct")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                success: function (result) {
                    if (result == "success") {
                        alert("Status change Successfully...");
                        window.location.reload();
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
       });

    function selectcatchange() {    
          console.log("change called");
          var CategoryId = jQuery("#selectcat option:selected").val();

        if (CategoryId != "" && CategoryId != null) {

            var URL = '@Url.Action("GetProductListByCategoryId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + CategoryId,
                success: function (result) {
                    console.log("catid"+CategoryId);
                    var htmlData = "<option value='-1'>All</option>";
                    if (result && result.length > 0) {
                        jQuery.each(result, function (i, item) {
                             htmlData += "<option value='"+ item.Value +"'> "+ item.Text +" </option>";
                          });
                    }
                    $("#selectprod").html(htmlData);
                    $("#selectprod").val(prodid);
                    prodid = "-1";

                },
                error: function (error) {
                }
            });
        }
        else {
              console.log("else catid"+CategoryId);
             var htmlData = "<option value='-1'>All</option>";
            $("#selectprod").html(htmlData);

           var htmlData = "<option value='-1'>All</option>";
            $("#selectsubprod").html(htmlSubData);
        }
    }

     function filteritems() {
           var statusid = $("#selectstatus").val();
        var catid = $("#selectcat").val();
        var prodtid = $("#selectprod").val();        
        location.href = "/admin/subproduct?CategoryId="+catid+"&ProductId="+prodtid+"&Active="+statusid;
    }

       $(document).on("click", "#btnImport", function () {
               // $("#importmodal").modal("show"); 
         window.location.href = "/admin/ImportExcel/SubProduct";
      });

</script>
