@model List<SubProductVM>

@{
    ViewBag.Title = "SubProduct";

    int counter = 1;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Sub Product List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Sub Product List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Sub Product List</h5>
            </div>
            <div class="card-body vendor-table">
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th width="15%;">Image</th>
                            <th>Sub Product Name</th>
                            <th>Product Name</th>
                            <th>Category Name</th>
                            <th width="15%;">Active</th>
                            <th width="15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (SubProductVM product in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(product.SubProductImage))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/SubProductMedia/" + product.SubProductImage)))
                                            {
                                                <img src="~/Images/SubProductMedia/@product.SubProductImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                        }

                                    </td>
                                    <td>@product.SubProductName</td>
                                    <td>@product.ProductName</td>
                                    <td>@product.CategoryName</td>
                                    <td>Active</td>
                                    <td>
                                        <a href="/admin/subproduct/edit/@product.SubProductId"><i class="fa fa-edit mr-2 font-success"></i></a>
                                        <a href="javascript:void(0);" onclick="fnDeleteSubProduct('@product.SubProductId')"><i class="fa fa-trash font-danger"></i></a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteSubProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteSubProduct" />
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btnDeleteSubProduct" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->

@*<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>*@
<script type="text/javascript" charset="utf-8">

    jQuery(document).ready(function () {
        StartLoading();
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });

    jQuery(window).on("load", function () {
        StopLoading();
    });

    jQuery(document).on("click", "#btnDeleteSubProduct", function () {

        var SubProduct_Id = jQuery("#hdnDeleteSubProduct").val();
        if (SubProduct_Id != "" && SubProduct_Id != null) {
            $('#deleteSubProductModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteSubProduct", "SubProduct")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?SubProductId=" + SubProduct_Id,
                success: function (result) {
                    if (result == "success") {
                        alert("Sub Product deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Product Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteSubProduct(SubProduct_id) {
        jQuery("#hdnDeleteSubProduct").val(SubProduct_id);
        $('#deleteSubProductModal').modal('show');
    }

</script>
