@model ProductItemVM

@{
    ViewBag.Title = "EditProductItem";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Edit Product Item
                        </h3>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/productitem">Product Item</a></li>
                        <li class="breadcrumb-item active">Edit Product Item</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Product Item</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "ProductItem", FormMethod.Post, new { @id = "ProductItemFormId", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.CategoryList, "Value", "Text"), "- Select Category -", new { @class = "form-control col-md-8", style = "" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.ProductList, "Value", "Text"), "- Select Product -", new { @class = "form-control col-md-8", style = "" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SubProductId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.SubProductId, new SelectList(Model.SubProductList, "Value", "Text"), "- Select SubProduct -", new { @class = "form-control col-md-8", style = "" })
                                @Html.ValidationMessageFor(model => model.SubProductId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ItemMainImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextBoxFor(model => model.ItemMainImageFile, new { type = "file", @class = "form-control col-md-8" })
                                @Html.ValidationMessageFor(model => model.ItemMainImageFile, "", new { @class = "text-danger" })

                            </div>

                            if (!string.IsNullOrEmpty(Model.MainImage))
                            {
                                <div class="form-group row">
                                    <p><a target="_blank" href="~/Images/ProductItemMedia/@Model.MainImage"> Click here to view image </a></p>
                                </div>
                            }

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ItemGalleryImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextBoxFor(model => model.ItemGalleryImageFile, new { type = "file", @multiple = "multiple", @class = "form-control col-md-8" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ItemGalleryImageFile, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.GodownId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.GodownId, new SelectList(Model.GodownList, "Value", "Text"), "- Select Godown -", new { @class = "form-control col-md-8", style = "" })
                                @Html.ValidationMessageFor(model => model.GodownId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Item Name", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ItemType, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.RadioButtonFor(model => model.ItemType, 1, htmlAttributes: new { @checked = "cheched" })
                                <label style="margin-right:10px;">Packed Item</label>
                                @Html.RadioButtonFor(model => model.ItemType, 2)
                                <label>UnPacked Item</label>

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextAreaFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Item Description", maxlength = "200", cols = 35, @rows = 4 }, @style = "width:600px;height:80px;" })
                                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Sku, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.Sku, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Sku", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.Sku, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.HSNCode, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.HSNCode, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter HSN Code", maxlength = "200" } })

                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.MRPPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.MRPPrice, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter MRP Price", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.MRPPrice, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CustomerPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.CustomerPrice, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Customer Price", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.CustomerPrice, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DistributorPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.DistributorPrice, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Distributor Price", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.DistributorPrice, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.GST_Per, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.GST_Per, new SelectList(Model.GST, "Value", "Text"), "- Select GST -", new { @class = "form-control col-md-8", style = "" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.GST_Per, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row" style="display:none;">
                                @Html.LabelFor(model => model.IGST_Per, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.IGST_Per, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter IGST Percentage", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.IGST_Per, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row" style="display:none;">
                                @Html.LabelFor(model => model.InitialQty, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.InitialQty, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter quantity", maxlength = "15" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.InitialQty, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ShippingCharge, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.ShippingCharge, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Shipping Charge", maxlength = "15" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ShippingCharge, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Notification, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.Notification, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Notification Text", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.Notification, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.IsPopularProduct, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.CheckBoxFor(model => model.IsPopularProduct, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                @Html.ValidationMessageFor(model => model.IsPopularProduct, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.IsReturnableItem, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.CheckBoxFor(model => model.IsReturnableItem, new { htmlAttributes = new { @class = "form-control col-md-8" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.IsReturnableItem, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.PayAdvancePer, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.PayAdvancePer, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Advance Payment Percentage", maxlength = "10" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.PayAdvancePer, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.HiddenFor(x => x.ProductItemId)
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    $(document).on("click", "#btnCancel", function () {
        window.location.href = "/admin/productitem";
    });

    jQuery(document).on("change", "#CategoryId", function () {

        var CategoryId = jQuery("#CategoryId option:selected").val();

        if (CategoryId != "" && CategoryId != null) {
             
            var URL = '@Url.Action("GetProductListByCategoryId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + CategoryId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select Product-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                           htmlData += "<option value='"+ element.Value +"'> "+ element.Text +" </option>";
                        });
                    }
                    $("#ProductId").html(htmlData); 
                },
                error: function (error) { 
                }
            });
        }
        else {
            var htmlData = "<option value='0'>- Select Product -</option>";
            $("#ProductId").html(htmlData);

            var htmlSubData = "<option value='0'>- Select Sub Product -</option>";
            $("#SubProductId").html(htmlSubData);
        }

    });

    jQuery(document).on("change", "#ProductId", function () {

        var ProductId = jQuery("#ProductId option:selected").val();

        if (ProductId != "" && ProductId != null) {
             
            var URL = '@Url.Action("GetSubProductListByProductId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + ProductId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select SubProduct-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                           htmlData += "<option value='"+ element.Value +"'> "+ element.Text +" </option>";
                        });
                    }
                    $("#SubProductId").html(htmlData); 
                },
                error: function (error) { 
                }
            });
        }
        else {
            var htmlSubData = "<option value='0'>- Select Sub Product -</option>";
            $("#SubProductId").html(htmlSubData);
        }
    });

</script>

