@using KrupaBuildGallery.Helper;
@using Newtonsoft.Json;
@using KrupaBuildGallery.Model;

@model List<ProductItemVM>

@{
    ViewBag.Title = "ProductItem";

    int counter = 1;
}

@{
    UserPermissionVM objPermission = new UserPermissionVM();

    int RoleId = Int32.Parse(clsAdminSession.RoleID.ToString());

    if (RoleId != 1)
    {
        string strPermission = clsAdminSession.UserPermission;
        objPermission = JsonConvert.DeserializeObject<UserPermissionVM>(strPermission, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    }
    bool IsSA = (RoleId == 1 ? true : false);
    List<SelectListItem> lstCats = ViewData["CategoryList"] as List<SelectListItem>;
    List<SelectListItem> lstProdts = ViewData["ProductList"] as List<SelectListItem>;
    List<SelectListItem> lstSubProdts = ViewData["SubProductList"] as List<SelectListItem>;
}
<style>
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Product Item List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Product Item</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Product Item List</h5>
            </div>
            <div class="card-body vendor-table">
                <h3>Filter:</h3>
                <div class="row" style="margin-top:25px;border-bottom: 2px solid #f8f8f9;padding-bottom: 25px;margin-bottom: 10px;">

                    <div class="col-sm-2">
                        <label>Categories</label>
                        <select id="selectcat" class="form-control" onchange="selectcatchange();">
                            <option value="-1">All</option>
                            @if (lstCats != null && lstCats.Count() > 0)
                            {
                                foreach (var objc in lstCats)
                                {
                                    <option value="@objc.Value">@objc.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Products</label>
                        <select id="selectprod" class="form-control" onchange="selectprodchange();">
                            <option value="-1">All</option>
                            @if (lstProdts != null && lstProdts.Count() > 0)
                            {
                                foreach (var objc in lstProdts)
                                {
                                    <option value="@objc.Value">@objc.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Sub Products</label>
                        <select id="selectsubprod" class="form-control" onchange="selectsubprodchange();">
                            <option value="-1">All</option>
                            @if (lstSubProdts != null && lstSubProdts.Count() > 0)
                            {
                                foreach (var objc in lstSubProdts)
                                {
                                    <option value="@objc.Value">@objc.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Status</label>
                        <select id="selectstatus" class="form-control">
                            <option value="-1">All</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <input type="button" value="Filter" class="btn btn-info" onclick="filteritems();" style="position: absolute; bottom: 0;" />
                    </div>
                </div>


                @if (IsSA || objPermission.ProductItem >= (int)ModulePermission.Add)
                {
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" id="btnAdd">Add Product Item</button>
                        <button type="button" class="btn btn-primary" id="btnImport">Import Product Item</button>
                        <button type="button" class="btn btn-primary" id="btndelte">Delete Items</button>
                    </div>
                }
                <br />

                <table class="display" id="basic-19">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="mass_select_all" data-to-table="tasks" /></th>
                            <th>#</th>
                            <th width="10%;">Image</th>
                            <th>Category</th>
                            <th>Product</th>
                            <th>Sub Product</th>
                            <th>Item Name</th>
                            <th>MRP Price</th>
                            <th>Customer Price</th>
                            <th>Dist. Price</th>
                            <th>In Stock</th>
                            <th>Sold</th>
                            <th width="5%;">Active</th>
                            <th width="10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (ProductItemVM item in Model)
                            {
                                <tr class="gradeX">
                                    <td><input type="checkbox" class="chkitm" data-id="@item.ProductItemId" /></td>
                                    <td>@counter.</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.MainImage))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + item.MainImage)))
                                            {
                                                <img src="~/Images/ProductItemMedia/@item.MainImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            }
                                            else
                                            {
                                                <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                        }

                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.SubProductName</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.MRPPrice</td>
                                    <td>@item.CustomerPrice</td>
                                    <td>@item.DistributorPrice</td>
                                    <td>@item.InStock</td>
                                    <td>@item.Sold</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@item.ProductItemId','InActive');">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@item.ProductItemId','Active');">InActive</span></td>
                                    }
                                <td>
                                    @if (IsSA || objPermission.ProductItem >= (int)ModulePermission.View)
                                    {
                                        <a href="/admin/productitem/itempincode/@item.ProductItemId"><i class="fa fa-eye mr-2 font-success"></i></a>
                                    }
                                    @if (IsSA || objPermission.ProductItem >= (int)ModulePermission.View)
                                    {
                                        <a href="/admin/productitem/view/@item.ProductItemId"><i class="fa fa-eye mr-2 font-success"></i></a>
                                    }
                                    @if (IsSA || objPermission.ProductItem >= (int)ModulePermission.Edit)
                                    {
                                        <a href="/admin/productitem/edit/@item.ProductItemId"><i class="fa fa-edit mr-2 font-success"></i></a>
                                    }
                                    @if (IsSA || objPermission.ProductItem == (int)ModulePermission.Full)
                                    {
                                        <a href="javascript:void(0);" onclick="fnDeleteProductItem('@item.ProductItemId')"><i class="fa fa-trash font-danger"></i></a>
                                    }
                                </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>


<!-- Delete Modal -->
<div class="modal fade open" id="deleteProductItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnDeleteProductItem" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<!-- Delete Modal -->
<div class="modal fade open" id="deleteallProductItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete selected items ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItems" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnDeleteAllProductItem" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#basic-19').DataTable({
            "pageLength": 100,
            "columnDefs": [{
                "targets": [0,1],
                "orderable": false
            }]
        });
    });

    $('body').on('change', '#mass_select_all', function () {
        var rows, checked;
        rows = $('#basic-19').find('tbody tr');
        checked = $(this).prop('checked');
        $.each(rows, function () {
            var checkbox = $($(this).find('td').eq(0)).find('input').prop('checked', checked);
        });
    });
    $(document).on("click", "#btnAdd", function () {
        window.location.href = "/admin/productitem/add";
    });
    $(document).on("click", "#btndelte", function () {
        if ($('#basic-19').find('tbody tr td input:checked').length == 0) {
            alert("Please select atleast 1 item");
        }
        else {
            var valuesArray = $('#basic-19').find('tbody tr td input:checked').map(function () {
                return $(this).attr("data-id");
            }).get().join();
            $("#hdnDeleteProductItems").val(valuesArray);
            $("#deleteallProductItemModal").modal('show');
        }

    });

    //jQuery(document).ready(function () {
    //    StartLoading()
    //    jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    //});

    function fnDeleteProductItem(item_id) {
        jQuery("#hdnDeleteProductItem").val(item_id);
        jQuery('#deleteProductItemModal').modal('show');
    }

    //jQuery(window).on("load", function () {
    //    StopLoading();
    //});

    jQuery(document).on("click", "#btnDeleteProductItem", function () {

        var ProductItem_id = jQuery("#hdnDeleteProductItem").val();
        if (ProductItem_id != "" && ProductItem_id != null) {
            $('#deleteProductItemModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("DeleteProductItem", "ProductItem")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?ProductItemId=" + ProductItem_id,
                success: function (result) {
                    if (result == "success") {
                        alert("ProductItem deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("ProductItem Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });
       function fnChangeStatus(cat_id,status) {
         jQuery("#hdndataId").val(cat_id);
         jQuery("#hdnstatus").val(status);
         if (status == "Active") {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
         }
         else {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
         }
        $('#activeinactiveModal').modal('show');
    }

       jQuery(document).on("click", "#btnChangeStatus", function () {

        var Id = jQuery("#hdndataId").val();
        if (Id != "" && Id != null) {
            $('#activeinactiveModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("ChangeStatus", "ProductItem")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                success: function (result) {
                    if (result == "success") {
                        alert("Status change Successfully...");
                        window.location.reload();
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
       });

     $(document).ready(function () {
         $("#selectcat").val("@ViewBag.CatId");
         $("#selectprod").val("@ViewBag.ProductId");
         $("#selectsubprod").val("@ViewBag.SubProductId");
         $("#selectstatus").val('@ViewBag.Active');
    });

    function selectcatchange() {
          var CategoryId = jQuery("#selectcat option:selected").val();

        if (CategoryId != "" && CategoryId != null) {

            var URL = '@Url.Action("GetProductListByCategoryId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + CategoryId,
                success: function (result) {
                    var htmlData = "<option value='-1'>All</option>";
                    if (result && result.length > 0) {
                        jQuery.each(result, function (i, item) {
                             htmlData += "<option value='"+ item.Value +"'> "+ item.Text +" </option>";
                          });
                    }
                    $("#selectprod").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
        else {
             var htmlData = "<option value='-1'>All</option>";
            $("#selectprod").html(htmlData);

           var htmlData = "<option value='-1'>All</option>";
            $("#selectsubprod").html(htmlSubData);
        }
    }

    function selectprodchange() {
        var ProductId = jQuery("#selectprod option:selected").val();

        if (ProductId != "" && ProductId != null) {

            var URL = '@Url.Action("GetSubProductListByProductId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + ProductId,
                success: function (result) {
                   var htmlData = "<option value='-1'>All</option>";
                    if (result && result.length > 0) {
                        jQuery.each(result, function (i, item) {
                             htmlData += "<option value='"+ item.Value +"'> "+ item.Text +" </option>";
                          });
                    }
                    $("#selectsubprod").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
        else {
            var htmlData = "<option value='-1'>All</option>";
            $("#selectsubprod").html(htmlSubData);
        }
    }

    function filteritems() {
           var statusid = $("#selectstatus").val();
        var catid = $("#selectcat").val();
        var prodtid = $("#selectprod").val();
        var subproductid = $("#selectsubprod").val();
        location.href = "/admin/productitem?CategoryId="+catid+"&ProductId="+prodtid+"&SubProductId="+subproductid+"&Active="+statusid;
    }

      $(document).on("click", "#btnImport", function () {
               // $("#importmodal").modal("show");
         window.location.href = "/admin/ImportExcel/ProductItem";
      });

    jQuery(document).on("click", "#btnDeleteAllProductItem", function () {

        var ProductItem_ids = jQuery("#hdnDeleteProductItems").val();
        if (ProductItem_ids != "" && ProductItem_ids != null) {
            $('#deleteallProductItemModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("DeleteProductItems", "ProductItem")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?ProductItemIds=" + ProductItem_ids,
                success: function (result) {
                    if (result == "success") {
                        alert("ProductItems deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("ProductItem Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });
</script>