
@using KrupaBuildGallery.Helper;
@model ProductItemVM

@{
    ViewBag.Title = "View Product Item";
}

<style>
    .labeltext {
        font-weight: bold;
        font-size: 14px;
        color: #000000;
    }

    .labelvalue {
        font-size: 14px;
        color: #000000;
        padding-left: 15px;
    } 

    .profile-table table tbody tr td:first-child {
        min-width: 150px;
        font-weight: bold;
    }
</style>
<link href="~/Content/lightbox.min.css" rel="stylesheet" />

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Product Item - @Model.ItemName
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/productitem">Product Item</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Product Item</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            <td>Item Main Image:</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.MainImage))
                                                {
                                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + Model.MainImage)))
                                                    {
                                                        @*<a target="_blank" href="@ErrorMessage.ProductItemDirectoryPath/@Model.MainImage">
                            <img src="@ErrorMessage.ProductItemDirectoryPath/@Model.MainImage" style="width: 50px; height: 50px;" />
                        </a>*@

                                                        <a class="example-image-link" href="@ErrorMessage.ProductItemDirectoryPath/@Model.MainImage" data-lightbox="ProfilePhoto">
                                                            <img src="@ErrorMessage.ProductItemDirectoryPath/@Model.MainImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 50px; height:50px;" />
                                                        </a>

                                                    }
                                                    else
                                                    {
                                                        <img src="@ErrorMessage.DefaultImagePath" style="width: 50px; height: 50px;" />
                                                    }
                                                }
                                                else
                                                {
                                                    <img src="@ErrorMessage.DefaultImagePath" style="width: 50px; height: 50px;" />
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Category:</td>
                                            <td>@Model.CategoryName</td>
                                        </tr>
                                        <tr>
                                            <td>Product Name:</td>
                                            <td>@Model.ProductName</td>
                                        </tr>
                                        <tr>
                                            <td>Sub Product Name:</td>
                                            <td>@Model.SubProductName</td>
                                        </tr>
                                        <tr>
                                            <td>Item Name:</td>
                                            <td>@Model.ItemName</td>
                                        </tr>
                                        <tr>
                                            <td>Item Type:</td>
                                            @if (Model.ItemType == 1)
                                            {
                                                <td>Packed</td>

                                            }
                                            else
                                            {
                                                <td>UnPacked</td>
                                            }

                                        </tr>
                                        <tr>
                                            <td>Item Description:</td>
                                            <td>@Model.ItemDescription</td>
                                        </tr>
                                        <tr>
                                            <td>MRP Price:</td>
                                            <td>@Model.MRPPrice</td>
                                        </tr>
                                        <tr>
                                            <td>Distributer Price:</td>
                                            <td>@Model.DistributorPrice</td>
                                        </tr>
                                        <tr>
                                            <td>Customer Price:</td>
                                            <td>@Model.CustomerPrice</td>
                                        </tr>
                                        <tr>
                                            <td>GST Per:</td>
                                            <td>@Model.GST_Per %</td>
                                        </tr>
                                        <tr>
                                            <td>SKU:</td>
                                            <td>@Model.Sku</td>
                                        </tr>
                                        <tr>
                                            <td>HSN Code:</td>
                                            <td>@Model.HSNCode</td>
                                        </tr>
                                        <tr>
                                            <td>Notification Text:</td>
                                            <td>@Model.Notification</td>
                                        </tr>
                                        <tr>
                                            <td>Is Popular Product:</td>
                                            <td>@(Model.IsPopularProduct ? "Yes" : "No")</td>
                                        </tr>
                                        <tr>
                                            <td>Is Returnable Product:</td>
                                            <td>@(Model.IsReturnableItem ? "Yes" : "No")</td>
                                        </tr>
                                        <tr>
                                            <td>Advance Payment (%):</td>
                                            <td>@Model.PayAdvancePer</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Shipping Charge:</td>
                                            <td>@Model.ShippingCharge</td>
                                        </tr>
                                        <tr>
                                            <td>Godown:</td>
                                            <td>@Model.GodownName</td>
                                        </tr>

                                        <tr>
                                            <td>Created By:</td>
                                            <td>@Model.strCreatedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Created Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.CreatedDate)</td>
                                        </tr>

                                        <tr>
                                            <td>Modified By:</td>
                                            <td>@Model.strModifiedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Modified Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.UpdatedDate)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

@*<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/prism.min.js"></script>
<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>

<script>
</script>
