@model DynamicContentVM

@{
    ViewBag.Title = "DynamicContent";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Add Content
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/dynamiccontent">Contents</a></li>
                        <li class="breadcrumb-item active">Add Content</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header">
                        <h5>Add Content</h5>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm("Add", "DynamicContent", FormMethod.Post, new { @id = "DynamicContentFormId", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DynamicContentType, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.DynamicContentType, new SelectList(Model.DynamicContentTypeList, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8", style = "" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.DynamicContentType, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ContentTitle, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.ContentTitle, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Content Title", maxlength = "100" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ContentTitle, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ContentDescription, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @*@Html.TextAreaFor(model => model.ContentDescription, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Content Description", maxlength = "1000" } })*@

                                @Html.TextAreaFor(model => model.ContentDescription, 10, 0, htmlAttributes: new { @class= "form-control col-md-8" })


                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ContentDescription, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SeqNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.SeqNo, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Sequence No", maxlength = "10" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.SeqNo, "", new { @class = "text-danger" })
                            </div>

                            @*<div class="form-group row">
                                <label class="col-xl-3 col-md-4">Content Type</label>
                                <select class="form-control col-md-8">
                                    <option>-Select-</option>
                                    <option>FAQ</option>
                                    <option>Privacy Policy</option>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-md-4">Content Title</label>
                                <input type="text" class="form-control col-md-8" placeholder="Enter Content Title" />
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-md-4">Content Description</label>
                                <textarea class="form-control col-md-8" placeholder="Enter Content Description" rows="10"></textarea>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-md-4">Sequence Number</label>
                                <input type="text" class="form-control col-md-8" placeholder="Enter Sequence Number" />
                            </div>*@

                            <div class="form-group row">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).on("click", "#btnCancel", function () {
        window.location.href = "/admin/dynamiccontent";
    });
</script>