@using KrupaBuildGallery.Model;
@using KrupaBuildGallery.Helper;



@model  ProductItemVM
@{
    string clswishlist = "";
    if (Model.IsWishListItem)
    {
        clswishlist = "wishlistcls";
    }
    if (Model.OtherImages != null)
    {
        Model.OtherImages.Add(Model.MainImage);
    }
    List<VariantItemVM> lstVarintss = ViewData["lstVarint"] as List<VariantItemVM>;
    string unittyppe = Convert.ToString(ViewBag.UnitTyp);
    List<ProductItemVM> lstrelateditm = ViewData["lstRelatedItems"] as List<ProductItemVM>;
    string imgpath = "";
}

@{
    ViewBag.Title = Model.ItemName;
}

<style>
    .wishlistcls {
        color: #ff4c3b !important;
    }

    .imgmain1 img {
        cursor: crosshair;
    }

    .switch-field {
       /* display: flex;*/
        margin-bottom: 36px;
        overflow: auto;
    }

        .switch-field input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
        }

        .switch-field label {
            background-color: #e4e4e4;
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            line-height: 1;
            text-align: center;
            padding: 8px 16px;
            margin-right: -1px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            transition: all 0.1s ease-in-out;
            margin-right:10px;
            font-weight: bold;
            
        }

            .switch-field label:hover {
                cursor: pointer;
            }

        .switch-field input:checked + label {
            background-color: #66245a;
            box-shadow: none;
            color: #ffffff;
            font-weight: bold;
        }

        .switch-field label {
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
        }
        

    /* This is just for CodePen. */

  
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="product-slick">
                        @if (Model.OtherImages != null && Model.OtherImages.Count() > 0)
                        {
                            foreach (string imgstr in Model.OtherImages)
                            {
                                imgpath = "";
                                if (!string.IsNullOrEmpty(imgstr))
                                {
                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + imgstr)))
                                    {
                                        imgpath = "/Images/ProductItemMedia/" + imgstr;
                                    }
                                    else
                                    {
                                        imgpath = @ErrorMessage.DefaultImagePath;
                                    }
                                }
                                else
                                {
                                    imgpath = @ErrorMessage.DefaultImagePath;
                                }
                                <div class="imgmain1"><img src="@imgpath" alt="" class="img-fluid blur-up lazyload image_zoom_cls-0" data-zoom-image="@imgpath" style="cursor: crosshair;"></div>
                            }
                        }
                    </div>
                    <input type="hidden" id="mainimgsrc" value="@imgpath" />
                    <input type="hidden" id="itmid" value="@Model.ProductItemId" />
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                @if (Model.OtherImages != null && Model.OtherImages.Count() > 1)
                                {
                                    foreach (string imgstr in Model.OtherImages)
                                    {
                                         imgpath = "";
                                        if (!string.IsNullOrEmpty(imgstr))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + imgstr)))
                                            {
                                                imgpath = "/Images/ProductItemMedia/" + imgstr;
                                            }
                                            else
                                            {
                                                imgpath = @ErrorMessage.DefaultImagePath;
                                            }
                                        }
                                        else
                                        {
                                            imgpath = @ErrorMessage.DefaultImagePath;
                                        }
                                        <div><img src="@imgpath" alt="" class="img-fluid blur-up lazyload" style="cursor: pointer;"></div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 rtl-text">
                    <div class="product-right">
                        <h2>@Model.ItemName</h2>
                        <div>
                            @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                            {
                                <h4 style="display:inline-block;">₹ <span id="prcc">@Model.CustomerPrice</span> <del>₹ <span id="mrpprcc">@Model.MRPPrice</span></del></h4>
                            }
                            else
                            {
                                <h4 style="display:inline-block;">₹ <span id="prcc">@Model.DistributorPrice</span> <del>₹ <span id="mrpprcc">@Model.MRPPrice</span></del></h4>
                            }
                            @if (Model.IsAssured == true)
                            {
                                <img src="/Images/ssassured.png" style="height: 45px; width: 145px;margin-left: 21px; margin-bottom: 15px;">
                            }
                        </div>
                        @if (unittyppe.ToLower().Contains("killo") || unittyppe.ToLower().Contains("litr") || unittyppe.ToLower().Contains("sheet") || unittyppe.ToLower().Contains("piece"))
                        {
                            <div class="product-description border-product">
                                <h6 class="product-title">Select Option</h6>
                                <div class="qty-box">
                                    <div class="switch-field">

                                        @if (lstVarintss != null && lstVarintss.Count() > 0)
                                        {
                                            int cntt0 = 0;

                                            foreach (var objj in lstVarintss)
                                            {
                                                decimal prc = objj.CustomerPrice;
                                                string selected1 = "";
                                                if (clsClientSession.RoleID == 2)
                                                {
                                                    prc = objj.DistributorPrice;
                                                }
                                                if (objj.UnitQtys == "1 Kg" || objj.UnitQtys == "1 Ltr")
                                                {
                                                    selected1 = "checked";
                                                }
                                                else
                                                {
                                                    if (cntt0 == 0)
                                                    {
                                                        selected1 = "checked";
                                                        cntt0 = cntt0 + 1;
                                                    }
                                                }
                                                <input type="radio" id="radio-@objj.VariantItemId" name="variants" data-attrmrpprc="@objj.MRPPrice" data-attrprc="@prc" data-attrvarinimg="@objj.VariantImg" value="@objj.VariantItemId" @selected1 />
                                                <label for="radio-@objj.VariantItemId">@objj.UnitQtys</label>
                                            }
                                            <input type="hidden" value="" id="hdnvarintIds" />
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            var objVrnt = lstVarintss.FirstOrDefault();
                            <input type="hidden" value="@objVrnt.VariantItemId" id="hdnvarintIds" />
                        }
                        <div class="product-description border-product">
                            <h6 class="product-title">Check Availability At</h6>
                            <div class="qty-box">
                                <input type="number" id="txtpincode" class="form-control" placeholder="Enter Pincode" maxlength="6" onKeyPress="if(this.value.length==6) return false;" style="width: 200px;"> <a href="javascript:void(0);" class="btn btn-solid" onclick="checkavailable();" style="padding: 2px 10px;border-radius: 12px;margin-left: 10px;">Check</a>
                            </div>
                        </div>
                        <div class="product-description border-product">
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                    <input type="text" name="quantity" id="txtqty" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#addtocart" class="btn btn-solid" onclick="addtocrt('@Model.ProductItemId');">add to cart</a>
                            @if (clsClientSession.UserID > 0)
                            {
                                <a href="/checkout" class="btn btn-solid" style="display:none;">checkout</a>
                            }
                            else
                            {
                                <a href="/login?referer=checkout" class="btn btn-solid" style="display:none;">checkout</a>
                            }
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">SKU</h6>
                            <p>@Model.Sku</p>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>@Model.ItemDescription</p>
                        </div>
                        @if (Model.InStock <= 0)
                        {
                            <div class="border-product">
                                <p style="color: red; text-transform: uppercase;">Note: @Model.Notification</p>
                            </div>
                        }

                        <div class="border-product">
                            <h6 class="product-title" style="display:none;">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social" style="display:none;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <form class="d-inline-block">
                                    @if (clsClientSession.UserID > 0)
                                    {
                                        <a href="javascript:void(0);" style="color: buttontext;" class="wishlist-btn" onclick="addremovewishlist('@Model.ProductItemId',this);"><i class="fa fa-heart @clswishlist"></i><span class="title-font">Add To WishList</span></a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" style="color: buttontext;" class="wishlist-btn" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist"></i><span class="title-font">Add To WishList</span></a>

                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @if (lstrelateditm != null && lstrelateditm.Count() > 0)
            {
                <div class="title1 section-t-space">
                    <div class="title4">
                        <h2 class="title-inner4">Related Items</h2>
                        <div class="line"><span></span></div>
                    </div>
                </div>
                @*<div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="product-para">
                            <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                </div>
            </div>*@
                <!-- Paragraph end -->
                <!-- Product slider -->
                <section class="section-b-space p-t-0 ratio_asos">
                    <div class="container">                        
                        <div class="row">
                            <div class="col">
                                <div class="product-4 product-m no-arrow">
                                    @if (lstrelateditm != null && lstrelateditm.Count() > 0)
                                    {
                                        foreach (var objItem in lstrelateditm)
                                        {
                                            imgpath = "";
                                            string clswishlist1 = "";
                                            if (!string.IsNullOrEmpty(objItem.MainImage))
                                            {
                                                if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + objItem.MainImage)))
                                                {
                                                    imgpath = "/Images/ProductItemMedia/" + objItem.MainImage;
                                                }
                                                else
                                                {
                                                    imgpath = @ErrorMessage.DefaultImagePath;
                                                }
                                            }
                                            else
                                            {
                                                imgpath = @ErrorMessage.DefaultImagePath;
                                            }
                                            if (objItem.IsWishListItem)
                                            {
                                                clswishlist1 = "wishlistcls";
                                            }
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="back">
                                                        <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="cart-info cart-wrap">
                                                        <button data-toggle="modal" style="display:none;" data-target="#addtocart" title="Add to cart" onclick="AddtoCartfunc(@objItem.ProductItemId, 1,'@objItem.IsCashonDelieveryuse.ToString()');">
                                                            <i class="ti-shopping-cart"></i>
                                                        </button>
                                                        @if (clsClientSession.UserID > 0)
                                                        {
                                                            <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="addremovewishlist('@objItem.ProductItemId',this);"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="product-detail">
                                                    <div class="rateit" data-rateit-value="@objItem.Ratings" style="margin-top:5px;" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                                    <a href="/products/detail/@objItem.ProductItemId">
                                                        <h6 class="dashboardItemName">@objItem.ItemName</h6>
                                                    </a>
                                                    @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                                                    {
                                                        <h4>₹ @objItem.CustomerPrice <del>₹ @objItem.MRPPrice</del></h4>
                                                    }
                                                    else
                                                    {
                                                        <h4>₹ @objItem.DistributorPrice <del>₹ @objItem.MRPPrice</del></h4>
                                                    }
                                                </div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Product slider end -->
            }
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<!-- product-tab ends -->
<script>
    $(document).ready(function () {
        if ($("input[name=variants]").length > 0) {
            setTimeout(function () {
                $("input[name=variants]:checked").trigger('change');
            },250);
        }       
    });

    function checkavailable() {
        var pincd = $("#txtpincode").val();
        if (pincd == "") {
            alert("Enter Pincode");
            return false;
        }
        var itmidd = $("#itmid").val();
        var URL = '/Client/Products/CheckItemAvailablePincode';
        jQuery.ajax({
            type: 'GET',
            async: true,
            url: URL + "?ItmId=" + itmidd + "&Pincode=" + pincd,
            success: function (result) {
                if (result == "Item not available for this pincode") {
                    msgdisplayFail(result);
                }
                else {
                    msgsuccess(result);
                }
            },
            error: function (resultData) {
                console.log("error");

            }
        });
        
    }

    function addtocrt(itmid) {
        var qtyy = $("#txtqty").val();
        var provariant = $("#hdnvarintIds").val();
        AddtoCartfunc(provariant,itmid, qtyy,'@Model.IsCashonDelieveryuse.ToString()');
    }


    function addremovewishlist(itemid, objthis) {
        var URL = '/Client/Products/AddRemoveWishList';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?ItemId=" + itemid,
            success: function (result) {
                if (result == "Success") {
                    if ($(objthis).find('.fa-heart').hasClass("wishlistcls")) {
                        $(objthis).find('.fa-heart').removeClass("wishlistcls");
                        msgsuccess('Item Successfully removed from wishlist');
                    }
                    else {
                        $(objthis).find('.fa-heart').addClass("wishlistcls");
                        msgsuccess('Item Successfully added in wishlist');
                    }
                }
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
    function msgsuccess(msg) {
        $.notify({
            icon: 'fa fa-check',
            title: 'Success!',
            message: msg
        }, {
            element: 'body',
            position: null,
            type: "info",
            allow_dismiss: true,
            newest_on_top: false,
            showProgressbar: false,
            placement: {
                from: "top",
                align: "right"
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            icon_type: 'class',
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '<span data-notify="message">{2}</span>' +
                '<div class="progress" data-notify="progressbar">' +
                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                '</div>' +
                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
        });
    }
    $(document).ready(function () {
        if ($("input[name=variants]").length > 0) {
            $(document).on("change", "input[name=variants]", function () {
                 $("#prcc").html($(this).attr("data-attrprc"));
                 $("#mrpprcc").html($(this).attr("data-attrmrpprc"));
                $("#hdnvarintIds").val($(this).val());
                var imgrc = $(this).attr("data-attrvarinimg");
                if (imgrc != "") {
                    $(".imgmain1:eq(0) img").attr("src","/Images/VariantMedia/"+imgrc);
                    $(".imgmain1:eq(0) > img").attr("data-zoom-image", "/Images/VariantMedia/" + imgrc);
                }
                else {
                    $(".imgmain1:eq(0) img").attr("src", $("#mainimgsrc").val());
                    $(".imgmain1:eq(0) > img").attr("data-zoom-image", $("#mainimgsrc").val());
                }
                
             });
          //    $("#hdnvarintIds").val($("#variantoption").val());
        }
    });

</script>
<script src="~/Content/assets/js/jquery.zoom.js"></script>
<script>
    $('.imgmain1').zoom();

</script>