@using KrupaBuildGallery.Model;
@using KrupaBuildGallery.Helper;



@model  ProductItemVM
@{
    string clswishlist = "";
    if (Model.IsWishListItem)
    {
        clswishlist = "wishlistcls";
    }
    if (Model.OtherImages != null)
    {
        Model.OtherImages.Add(Model.MainImage);
    }
    List<VariantItemVM> lstVarintss = ViewData["lstVarint"] as List<VariantItemVM>;
    string unittyppe = Convert.ToString(ViewBag.UnitTyp);
}

@{
    ViewBag.Title = Model.ItemName;
}

<style>
    .wishlistcls {
        color: #ff4c3b !important;
    }

    .imgmain1 img {
        cursor: crosshair;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="product-slick">
                        @if (Model.OtherImages != null && Model.OtherImages.Count() > 0)
                        {
                            foreach (string imgstr in Model.OtherImages)
                            {
                                string imgpath = "";
                                if (!string.IsNullOrEmpty(imgstr))
                                {
                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + imgstr)))
                                    {
                                        imgpath = "/Images/ProductItemMedia/" + imgstr;
                                    }
                                    else
                                    {
                                        imgpath = @ErrorMessage.DefaultImagePath;
                                    }
                                }
                                else
                                {
                                    imgpath = @ErrorMessage.DefaultImagePath;
                                }
                                <div class="imgmain1"><img src="@imgpath" alt="" class="img-fluid blur-up lazyload image_zoom_cls-0" data-zoom-image="@imgpath" style="cursor: crosshair;"></div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                @if (Model.OtherImages != null && Model.OtherImages.Count() > 1)
                                {
                                    foreach (string imgstr in Model.OtherImages)
                                    {
                                        string imgpath = "";
                                        if (!string.IsNullOrEmpty(imgstr))
                                        {
                                            if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + imgstr)))
                                            {
                                                imgpath = "/Images/ProductItemMedia/" + imgstr;
                                            }
                                            else
                                            {
                                                imgpath = @ErrorMessage.DefaultImagePath;
                                            }
                                        }
                                        else
                                        {
                                            imgpath = @ErrorMessage.DefaultImagePath;
                                        }
                                        <div><img src="@imgpath" alt="" class="img-fluid blur-up lazyload" style="cursor: pointer;"></div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 rtl-text">
                    <div class="product-right">
                        <h2>@Model.ItemName</h2>
                        @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                        {
                            <h4>₹ <span id="prcc">@Model.CustomerPrice</span> <del>₹ <span id="mrpprcc">@Model.MRPPrice</span></del></h4>
                        }
                        else
                        {
                            <h4>₹ <span id="prcc">@Model.DistributorPrice</span> <del>₹ <span id="mrpprcc">@Model.MRPPrice</span></del></h4>
                        }
                        @if (unittyppe.ToLower().Contains("killo") || unittyppe.ToLower().Contains("litr") || unittyppe.ToLower().Contains("sheet"))
                        {
                            <div class="product-description border-product">
                                <h6 class="product-title">Select Option</h6>
                                <div class="qty-box">
                                    @if (lstVarintss != null && lstVarintss.Count() > 0)
                                    {
                                        int cntt0 = 0;
                                        <select id="variantoption" class="form-control" style="width:230px;">
                                            @foreach (var objj in lstVarintss)
                                            {
                                                decimal prc = objj.CustomerPrice;
                                                string selected1 = "";
                                                if (clsClientSession.RoleID == 2)
                                                {
                                                    prc = objj.DistributorPrice;
                                                }
                                                if (objj.UnitQtys == "1 Kg" || objj.UnitQtys == "1 Ltr")
                                                {
                                                    selected1 = "selected";
                                                }
                                                else
                                                {
                                                    if(cntt0 == 0)
                                                    {
                                                        selected1 = "selected";
                                                        cntt0 = cntt0 + 1;
                                                    }
                                                }
                                                <option value="@objj.VariantItemId" @selected1 data-attrmrpprc="@objj.MRPPrice" data-attrprc="@prc">@objj.UnitQtys</option>
                                            }
                                        </select>
                                        <input type="hidden" value="" id="hdnvarintIds" />
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            var objVrnt = lstVarintss.FirstOrDefault();
                            <input type="hidden" value="@objVrnt.VariantItemId" id="hdnvarintIds" />
                        }

                        <div class="product-description border-product">
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                    <input type="text" name="quantity" id="txtqty" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#addtocart" class="btn btn-solid" onclick="addtocrt('@Model.ProductItemId');">add to cart</a>
                            @if (clsClientSession.UserID > 0)
                            {
                                <a href="/checkout" class="btn btn-solid" style="display:none;">checkout</a>
                            }
                            else
                            {
                                <a href="/login?referer=checkout" class="btn btn-solid" style="display:none;">checkout</a>
                            }
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">SKU</h6>
                            <p>@Model.Sku</p>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>@Model.ItemDescription</p>
                        </div>
                        @if (Model.InStock <= 0)
                        {
                            <div class="border-product">
                                <p style="color: red; text-transform: uppercase;">Note: @Model.Notification</p>
                            </div>
                        }

                        <div class="border-product">
                            <h6 class="product-title" style="display:none;">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social" style="display:none;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <form class="d-inline-block">
                                    @if (clsClientSession.UserID > 0)
                                    {
                                        <a href="javascript:void(0);" style="color: buttontext;" class="wishlist-btn" onclick="addremovewishlist('@Model.ProductItemId',this);"><i class="fa fa-heart @clswishlist"></i><span class="title-font">Add To WishList</span></a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" style="color: buttontext;" class="wishlist-btn" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist"></i><span class="title-font">Add To WishList</span></a>

                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<!-- product-tab ends -->
<script>
    $(document).ready(function () {
        if ($("#variantoption").length > 0) {
            setTimeout(function () {
                $("#variantoption").trigger('change');
            },250);
        }       
    });
    function addtocrt(itmid) {
        var qtyy = $("#txtqty").val();
        var provariant = $("#hdnvarintIds").val();
        AddtoCartfunc(provariant,itmid, qtyy,'@Model.IsCashonDelieveryuse.ToString()');
    }


    function addremovewishlist(itemid, objthis) {
        var URL = '/Client/Products/AddRemoveWishList';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?ItemId=" + itemid,
            success: function (result) {
                if (result == "Success") {
                    if ($(objthis).find('.fa-heart').hasClass("wishlistcls")) {
                        $(objthis).find('.fa-heart').removeClass("wishlistcls");
                        msgsuccess('Item Successfully removed from wishlist');
                    }
                    else {
                        $(objthis).find('.fa-heart').addClass("wishlistcls");
                        msgsuccess('Item Successfully added in wishlist');
                    }
                }
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
    function msgsuccess(msg) {
        $.notify({
            icon: 'fa fa-check',
            title: 'Success!',
            message: msg
        }, {
            element: 'body',
            position: null,
            type: "info",
            allow_dismiss: true,
            newest_on_top: false,
            showProgressbar: false,
            placement: {
                from: "top",
                align: "right"
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            icon_type: 'class',
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '<span data-notify="message">{2}</span>' +
                '<div class="progress" data-notify="progressbar">' +
                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                '</div>' +
                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                '</div>'
        });
    }
    $(document).ready(function () {
          if ($("#variantoption").length > 0) {
             $(document).on("change", "#variantoption", function () {
                 $("#prcc").html($(this).find("option:selected").attr("data-attrprc"));
                 $("#mrpprcc").html($(this).find("option:selected").attr("data-attrmrpprc"));
                 $("#hdnvarintIds").val($("#variantoption").val());
             });
              $("#hdnvarintIds").val($("#variantoption").val());
        }
    });

</script>
<script src="~/Content/assets/js/jquery.zoom.js"></script>
<script>
    $('.imgmain1').zoom();

</script>