@model List<LoginHistoryVM>
@{
    ViewBag.Title = "LoginHistory";

    int counter = 1;
    List<AdminUserVM> lstusr = ViewData["lstAdminusr"] as List<AdminUserVM>;
}

<style>
    body {
        padding-top: 60px;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Login History List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Login History List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Login History List</h5>
            </div>
            <div class="card-body vendor-table">
                <h3>Filter:</h3>
                <div class="row" style="margin-top:25px; border-bottom: 2px solid #f8f8f9; padding-bottom: 25px; margin-bottom: 10px;">
                    <div class="col-md-3">
                        <label>Employee</label>
                        <select id="selectemp" class="form-control">
                            <option value="-1">All</option>
                            @if (lstusr != null && lstusr.Count() > 0)
                            {
                                foreach (var objc in lstusr)
                                {
                                    <option value="@objc.AdminUserId">@objc.FirstName @objc.LastName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Start Date</label>
                        <input type="text" class="form-control clsDatePicker" value="@ViewBag.StartDate" id="txtStartDate" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-2">
                        <label>End Date</label>
                        <input type="text" class="form-control clsDatePicker" value="@ViewBag.EndDate" id="txtEndDate" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Filter" class="btn btn-info" onclick="filterdata();" style="position: absolute; bottom: 0;" />
                    </div>
                </div>

                <div class="row mt-4" style="">
                    <div class="col-sm-12">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    <th width="10%;">#</th>
                                    <th width="15%;">User Name</th>
                                    <th>Login Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (LoginHistoryVM obj in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>@counter.</td>
                                            <td>@obj.AdminUserFullName</td>
                                            <td>@CommonMethod.ConvertFromUTC(obj.DateAction)</td>
                                        </tr>
                                        counter++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script>

    jQuery(document).ready(function () {
        //StartLoading()
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
        $("#selectemp").val("@ViewBag.UserId");
    });

    function filterdata() {
            var statusid = $("#selectstatus").val();
        var usrid = $("#selectemp").val();
        var strtdt = $("#txtStartDate").val();
        var enddt =$("#txtEndDate").val();
        location.href = "/admin/loginhistory?UserId="+usrid+"&StartDate="+strtdt+"&EndDate="+enddt;
    }
</script>