@model List<LoginHistoryVM>
@{
    ViewBag.Title = "LoginHistory";

    int counter = 1;
    List<AdminUserVM> lstusr = ViewData["lstAdminusr"] as List<AdminUserVM>;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Login History List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Login History List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Login History List</h5>
            </div>
            <div class="card-body vendor-table">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col-md-3" style="margin-right:25px">
                        <label>Employee</label>
                        <select id="selectemp" class="form-control" style="width:250px;">
                            <option value="-1">All</option>
                            @if (lstusr != null && lstusr.Count() > 0)
                            {
                                foreach (var objc in lstusr)
                                {
                        <option value="@objc.AdminUserId">@objc.FirstName @objc.LastName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Start Date</label>
                        <input type="text" class="form-control" value="@ViewBag.StartDate" id="txtStartDate" />
                    </div>
                    <div class="col-md-2">
                        <label>End Date</label>
                        <input type="text" class="form-control" value="@ViewBag.EndDate" id="txtEndDate" />
                    </div>
                    <div class="col-md-2" style="margin-top:25px;">
                        <input type="button" value="Filter" class="btn btn-primary" onclick="filterdata();" />
                    </div>                   
                </div>
                
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="10%;">#</th>
                            <th width="15%;">User Name</th>
                            <th>Login Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (LoginHistoryVM obj in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@obj.AdminUserFullName</td>
                                    <td>@CommonMethod.ConvertFromUTC(obj.DateAction)</td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
<script>

    jQuery(document).ready(function () {
        //StartLoading()
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
        $("#selectemp").val("@ViewBag.UserId");
    });
      $("#txtStartDate").datepicker({
             format: "dd/mm/yyyy",
      });
     $("#txtEndDate").datepicker({
             format: "dd/mm/yyyy",
     });

    function filterdata() {
            var statusid = $("#selectstatus").val();
        var usrid = $("#selectemp").val();
        var strtdt = $("#txtStartDate").val();
        var enddt =$("#txtEndDate").val();
        location.href = "/admin/loginhistory?UserId="+usrid+"&StartDate="+strtdt+"&EndDate="+enddt;       
    }
</script>