@using KrupaBuildGallery.Model;
@{
    ViewBag.Title = "My Profile";
    tbl_ClientUsers objclient =  ViewData["clientdetails"] as tbl_ClientUsers;
    tbl_ClientOtherDetails objclientother =  ViewData["clientotherdetails"] as tbl_ClientOtherDetails;
}
<style>
    .contact-page .theme-form input {
        padding: 10px 25px;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>My Profile</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">My Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<form id="frmmyprfile" action="/client/myprofile/SaveProfile" method="post">
    <!-- breadcrumb End -->
    <section class="contact-page register-page">
        <div class="container">
            <div class="row theme-form">
                <div class="col-sm-12">
                    <h3>PERSONAL DETAIL</h3>
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="prefix">Prefix</label>
                            <select class="form-control" id="prefix" name="prefix" required>
                                <option value="">Select</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value="@objclient.FirstName" placeholder="Enter First name" required >
                        </div>
                        <div class="col-md-4">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value="@objclient.LastName" placeholder="Enter Last Name" required >
                        </div>
                        <div class="col-md-4">
                            <label for="mobilenumber">Mobile Number</label>
                            <input type="text" class="form-control" id="mobilenumber" name="mobilenumber" readonly value="@objclient.MobileNo" placeholder="Enter your mobile number" required >
                        </div>
                        <div class="col-md-4">
                            <label for="alternatemobile">Alternate Mobile Number</label>
                            <input type="text" class="form-control" id="alternatemobile" name="alternatemobile" value="@objclient.AlternateMobileNo" placeholder="Enter your alternate mobile number" required >
                        </div>
                        <div class="col-md-4">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" readonly value="@objclient.Email" placeholder="Email">
                        </div>
                        @if (clsClientSession.RoleID == 2)
                        {
                            <div class="col-md-4">
                                <label for="companyname">Company Name</label>
                                <input type="text" class="form-control" id="companyname" name="companyname" value="@objclient.CompanyName" placeholder="Company Name" required >
                            </div>
                            <div class="col-md-4">
                                <label for="addharcardno">AddharCard No.</label>
                                <input type="text" class="form-control" id="addharcardno" name="addharcardno" value="@objclientother.Addharcardno" placeholder="Addhar Card No." required >
                            </div>
                            <div class="col-md-4">
                                <label for="gstno">GST No.</label>
                                <input type="text" class="form-control" id="gstno" name="gstno" value="@objclientother.GSTno" placeholder="GST No." required >
                            </div>
                            <div class="col-md-4">
                                <label for="panno">PanCard No.</label>
                                <input type="text" class="form-control" id="panno" name="panno" value="@objclientother.Pancardno" placeholder="Pan Card No." required >
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-page register-page section-b-space">
        <div class="container">
            <div class="row theme-form">
                <div class="col-sm-12">
                    <h3>SHIPPING ADDRESS</h3>
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="shipfirstname">First Name</label>
                            <input type="text" class="form-control" id="shipfirstname" name="shipfirstname" value="@objclientother.ShipFirstName" placeholder="First Name" required >
                        </div>
                        <div class="col-md-4">
                            <label for="shiplastname">Last Name</label>
                            <input type="text" class="form-control" id="shiplastname" name="shiplastname" value="@objclientother.ShipLastName" placeholder="Last Name" required >
                        </div>
                        <div class="col-md-4">
                            <label for="shipmobilenumber">Mobile No.</label>
                            <input type="text" class="form-control" id="shipmobilenumber" name="shipmobilenumber" value="@objclientother.ShipPhoneNumber" placeholder="Mobile Number" required >
                        </div>
                        <div class="col-md-4">
                            <label for="shipaddress">Address</label>
                            <input type="text" class="form-control" id="shipaddress" name="shipaddress" value="@objclientother.ShipAddress" placeholder="Address"  required >
                        </div>
                        <div class="col-md-4">
                            <label for="shipcity">City</label>
                            <input type="text" class="form-control" id="shipcity" name="shipcity" value="@objclientother.ShipCity" placeholder="City" required >
                        </div>
                        <div class="col-md-4">
                            <label for="shippincode">Pin Code</label>
                            <input type="text" class="form-control" id="shippincode" name="shippincode" value="@objclientother.ShipPostalcode" placeholder="Pin Code" required  onblur="pincodechange();" />
                        </div>
                        <div class="col-md-4">
                            <label for="shipstate">State</label>
                            <select class="form-control" name="shipstate" id="shipstate" required >
                                <option value="">Select State</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top:15px;">
                            <button class="btn btn-sm btn-solid" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script>
    var statenm = '@objclientother.ShipState';
    var prefx = '@objclient.Prefix';
    $("#shipstate").val(statenm);
    $("#prefix").val(prefx);
    function pincodechange() {
          if ($("input[name=shippincode]").val() != '' && $("input[name=shippincode]").val().length != 6) {
            alert("Please Enter Valid Postalcode");
              $("input[name=shippincode]").val("");
            return;
        }
    }
    function SaveProfile() {
         $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("SaveProfile", "MyProfile")';
            jQuery.ajax({
                url: URL,
                type: 'POST',
                data: jQuery('#frmmyprfile').serialize(),
                success: function (data) {
                    $.unblockUI();
                    if (data == "SUCCESS") {
                    
                    }               
                    else {
                        alert("Error: Something went wrong. Please try again.");
                    }
                },
                error: function (data) {
                    alert("Something went wrong. Please try again.");
                }

            });
    }
</script>