@using KrupaBuildGallery.Model;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="Krupa Build Gallery">
    @*<link rel="shortcut icon" href="img/favicon.png">*@

    <title>Krupa Build Gallery</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Areas/Admin/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/owl.carousel.css" type="text/css">
    <link href="~/Areas/Admin/Content/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/data-tables/DT_bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Areas/Admin/Content/js/html5shiv.js"></script>
      <script src="~/Areas/Admin/Content/js/respond.min.js"></script>
    <![endif]-->
    <script src="~/Areas/Admin/Content/js/jquery.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/admin/dashboard" class="logo"><span> Krupa Build Gallery</span></a>
            <!--logo end-->

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    @*<li>
                            <input type="text" class="form-control search" placeholder="Search">
                        </li>*@
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            @if (clsAdminSession.ImagePath != "")
                            {
                                <img style="width: 30px; height: 30px;" alt="" src="~/Images/UserPhoto/@clsAdminSession.ImagePath">
                            }
                            else
                            {
                                <img style="width: 30px; height: 30px;" alt="" src="~/Images/default_user_image.png">
                            }
                            <span class="username">@clsAdminSession.UserName</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                            <li><a href="/admin/login/signout"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/admin/dashboard">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "Category" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Category</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/category/add">Add Category</a></li>
                            <li><a href="/admin/category">Categories List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "Product" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Products</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/product/add">Add Product</a></li>
                            <li><a href="/admin/product">Products List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "SubProduct" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Sub Products</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/subproduct/add">Add Sub Product</a></li>
                            <li><a href="/admin/subproduct">Sub Products List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "ProductItem" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Product Items</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/productitem/add">Add Product Item</a></li>
                            <li><a href="/admin/productitem">Product Items List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "Stock" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Stocks</span>
                        </a>
                        <ul class="sub">
                            <li><a href="boxed_page.html">Add Stock</a></li>
                            <li><a href="horizontal_menu.html">Stocks List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "Order" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Orders</span>
                        </a>
                        <ul class="sub">
                            <li><a href="horizontal_menu.html">Orders List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "Offer" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Offers</span>
                        </a>
                        <ul class="sub">
                            <li><a href="horizontal_menu.html">Add Offer</a></li>
                            <li><a href="horizontal_menu.html">Offers List</a></li>
                        </ul>
                    </li>

                    @*<li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "AdminUser" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Admin Users</span>
                        </a>
                        <ul class="sub">
                            <li><a href="boxed_page.html">Add Admin User</a></li>
                            <li><a href="horizontal_menu.html">Admin Users List</a></li>
                        </ul>
                    </li>*@

                    <li class="sub-menu">
                        <a class="clsMain @(ViewBag.Title == "ClientUser" ? "active" : "")" href="javascript:;">
                            <i class="fa fa-laptop"></i>
                            <span>Users</span>
                        </a>
                        <ul class="sub">
                            <li><a href="horizontal_menu.html">Distributor List</a></li>
                            <li><a href="horizontal_menu.html">Customer List</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        @RenderBody()

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                @DateTime.Now.Year &copy; Krupa Build Gallery
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Areas/Admin/Content/js/jquery.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery-1.8.3.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>

    <script src="~/Areas/Admin/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Areas/Admin/Content/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <script class="include" type="text/javascript" src="~/Areas/Admin/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/owl.carousel.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.customSelect.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Areas/Admin/Content/js/respond.min.js"></script>

    <!--common script for all pages-->
    <script src="~/Areas/Admin/Content/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/Areas/Admin/Content/js/sparkline-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/easy-pie-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/count.js"></script>

    <!--datatable scripts-->
    <script type="text/javascript" language="javascript" src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/assets/data-tables/DT_bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        function showErrorMsg(message, divId) {
            var htmlData = "";
            htmlData += "<div class='dvError alert alert-block alert-danger fade in'>" + message + "</div>"
            jQuery("#" + divId).html(htmlData);
            $('.dvError').fadeOut(5000, function () { $(this).remove(); });
        }
        function showSuccessMsg(message, divId) {
            var htmlData = "";
            htmlData += "<div class='dvSuccess alert alert-success alert-block fade in'><h4><i class='fa fa-ok-sign'></i>Success!</h4><p>" + message + "</p></div>";
            jQuery("#" + divId).html(htmlData);
            $('.dvSuccess').fadeOut(5000, function () { $(this).remove(); });
        }

        jQuery('.default-date-picker').datepicker({
            format: 'dd/mm/yyyy'
        });

        jQuery(document).on("click", "ul.sidebar-menu li a:not(.clsMain)", function () {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        });

        jQuery("#btnSubmit").click(function (event) {
            //event.preventDefault();
            if (jQuery("form").valid()) {
                jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
            }
        });

        function StartLoading() {
            jQuery.blockUI({ message: "<h4>Please Wait...</h4>" });
        }

        function StopLoading() {
            jQuery.unblockUI();
        }

    </script>

</body>
</html>