@using KrupaBuildGallery.Model;
@using KrupaBuildGallery.Helper;
@{
    ViewBag.Title = "Home";
    var lstPopular = ViewData["lstPopularProductItem"] as List<ProductItemVM>;
    var lstOffers = ViewData["lstOfferItems"] as List<ProductItemVM>;
    var lstUnPackItems = ViewData["lstUnpackProductItem"] as List<ProductItemVM>;
    List<HomeImageVM> lstImages = ViewData["lstImages"] as List<HomeImageVM>;
    List<CategoryVM> lstCategory = ViewData["lstCategory"] as List<CategoryVM>;
    List<HappyCustomerVM> lstHappyCustomers = ViewData["lstHappyCustomers"] as List<HappyCustomerVM>;
    WebsiteStatisticsVM objStatistics = ViewData["objStatistics"] as WebsiteStatisticsVM;

}
<style>
    .wishlistcls {
        color: #ff4c3b !important;
    }

    .counter-box {
        text-align: center;
    }
</style>

<!-- Home Image Section start -->
@if (lstImages != null && lstImages.Count > 0)
{
    <section class="p-0">
        <div class="slide-1 home-slider">
            @foreach (HomeImageVM item in lstImages)
            {
                <div>
                    <div class="home  text-center">
                        <img src="@item.ImageUrl" alt="" class="bg-img blur-up lazyload">
                        @if (!string.IsNullOrEmpty(item.HeadingText1) || !string.IsNullOrEmpty(item.HeadingText2))
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="slider-contain">
                                            <div>
                                                @if (!string.IsNullOrEmpty(item.HeadingText1))
                                                {
                                                    <h4>@item.HeadingText1</h4>
                                                }
                                                @if (!string.IsNullOrEmpty(item.HeadingText2))
                                                {
                                                    <h1>@item.HeadingText2</h1>
                                                }
                                                @*<a href="#" class="btn btn-solid">shop now</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}
<!-- Home Image Section end -->
<!-- Category list Section  start-->
@if (lstCategory != null && lstCategory.Count > 0)
{
    <div class="container">
        <div class="row section-t-space">
            <div class="col">
                <div class="title4">
                    <h2 class="title-inner4">Category</h2>
                    <div class="line"><span></span></div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog p-t-0 ratio2_3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 viewmore">
                        <a href="/category" class="btn btn-solid btn-xs" style="float: right; margin-bottom: 25px; border-radius: 10px;">
                            <i class="fa fa-angle-double-right"></i>View More
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slide-3 no-arrow">
                        @foreach (CategoryVM obj in lstCategory)
                        {
                            <div class="col-md-12">
                                <a href="/products/bycategory/@obj.CategoryId">
                                    <div class="classic-effect">
                                        <div>
                                            @{
                                                string imgpath = "";
                                                if (!string.IsNullOrEmpty(obj.CategoryImage))
                                                {
                                                    if (File.Exists(Server.MapPath("~/Images/CategoryMedia/" + obj.CategoryImage)))
                                                    {
                                                        imgpath = "/Images/CategoryMedia/" + obj.CategoryImage;
                                                    }
                                                    else
                                                    {
                                                        imgpath = @ErrorMessage.DefaultImagePath;
                                                    }
                                                }
                                                else
                                                {
                                                    imgpath = @ErrorMessage.DefaultImagePath;
                                                }
                                            }
                                            <img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt="">
                                        </div>
                                        <span></span>
                                    </div>
                                </a>
                                <div class="blog-details">
                                    <a href="/products/bycategory/@obj.CategoryId">
                                        <h4>@obj.CategoryName</h4>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
}
<!-- Category list Section end -->
<!-- Offer Product List start-->
@if (lstOffers != null && lstOffers.Count() > 0)
{
    <div class="title1 section-t-space">
        <div class="title4">
            <h2 class="title-inner4">Special Offer</h2>
            <div class="line"><span></span></div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Paragraph end -->
    <!-- Product slider -->
    <section class="section-b-space p-t-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="viewmore">
                        <a href="/products/offer" class="btn btn-solid btn-xs" style="float: right; margin-bottom: 25px; border-radius: 10px;">
                            <i class="fa fa-angle-double-right"></i>View More
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="product-4 product-m no-arrow">
                        @if (lstOffers != null && lstOffers.Count() > 0)
                        {
                            foreach (var objItem in lstOffers)
                            {
                                string imgpath = "";
                                string clswishlist = "";
                                if (!string.IsNullOrEmpty(objItem.MainImage))
                                {
                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + objItem.MainImage)))
                                    {
                                        imgpath = "/Images/ProductItemMedia/" + objItem.MainImage;
                                    }
                                    else
                                    {
                                        imgpath = @ErrorMessage.DefaultImagePath;
                                    }
                                }
                                else
                                {
                                    imgpath = @ErrorMessage.DefaultImagePath;
                                }
                                if (objItem.IsWishListItem)
                                {
                                    clswishlist = "wishlistcls";
                                }
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-toggle="modal" style="display:none;" data-target="#addtocart" title="Add to cart" onclick="AddtoCartfunc(@objItem.ProductItemId, 1,'@objItem.IsCashonDelieveryuse.ToString()');">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            @if (clsClientSession.UserID > 0)
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="addremovewishlist('@objItem.ProductItemId',this);"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        <a href="/products/detail/@objItem.ProductItemId">
                                            <h6>@objItem.ItemName</h6>
                                        </a>
                                        @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                                        {
                                            <h4>₹ @objItem.CustomerPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                        else
                                        {
                                            <h4>₹ @objItem.DistributorPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Product slider end -->
}
<!-- Offer Product List end-->
<!-- Popular Products List -->
@if (lstPopular != null && lstPopular.Count() > 0)
{
    <div class="title1 section-t-space">
        <div class="title4">
            <h2 class="title-inner4">Popular Products</h2>
            <div class="line"><span></span></div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Paragraph end -->
    <!-- Product slider -->
    <section class="section-b-space p-t-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="viewmore">
                        <a href="/products/popular" class="btn btn-solid btn-xs" style="float: right; margin-bottom: 25px; border-radius: 10px;">
                            <i class="fa fa-angle-double-right"></i>View More
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product-4 product-m no-arrow">
                        @if (lstPopular != null && lstPopular.Count() > 0)
                        {
                            foreach (var objItem in lstPopular)
                            {
                                string imgpath = "";
                                string clswishlist = "";
                                if (!string.IsNullOrEmpty(objItem.MainImage))
                                {
                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + objItem.MainImage)))
                                    {
                                        imgpath = "/Images/ProductItemMedia/" + objItem.MainImage;
                                    }
                                    else
                                    {
                                        imgpath = @ErrorMessage.DefaultImagePath;
                                    }
                                }
                                else
                                {
                                    imgpath = @ErrorMessage.DefaultImagePath;
                                }
                                if (objItem.IsWishListItem)
                                {
                                    clswishlist = "wishlistcls";
                                }
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-toggle="modal" style="display:none;" data-target="#addtocart" title="Add to cart" onclick="AddtoCartfunc(@objItem.ProductItemId, 1,'@objItem.IsCashonDelieveryuse.ToString()');">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            @if (clsClientSession.UserID > 0)
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="addremovewishlist('@objItem.ProductItemId',this);"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        <a href="/products/detail/@objItem.ProductItemId">
                                            <h6>@objItem.ItemName</h6>
                                        </a>
                                        @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                                        {
                                            <h4>₹ @objItem.CustomerPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                        else
                                        {
                                            <h4>₹ @objItem.DistributorPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product slider end -->
}
<!-- Popular Products List end -->
<!-- Advertisement Images - Start -->
<section class="p-0 layout-7">
    <div class="slide-1 home-slider">
        <div>
            <div class="home">
                <img src="~/Content/assets/images/electronics/8.jpg" alt="" class="bg-img blur-up lazyload">
            </div>
        </div>
        <div>
            <div class="home">
                <img src="~/Content/assets/images/home-banner/12.jpg" alt="" class="bg-img blur-up lazyload">
            </div>
        </div>
    </div>
</section>
<!-- Advertisement Images - end -->

<!-- UpPack Products List -->
@if (lstUnPackItems != null && lstUnPackItems.Count() > 0)
{
    <div class="title1 section-t-space">
        <div class="title4">
            <h2 class="title-inner4">UnPacked Products</h2>
            <div class="line"><span></span></div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="product-para">
                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Paragraph end -->
    <!-- Product slider -->
    <section class="section-b-space p-t-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="viewmore">
                        <a href="/products/unpacked" class="btn btn-solid btn-xs" style="float: right; margin-bottom: 25px; border-radius: 10px;">
                            <i class="fa fa-angle-double-right"></i>View More
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product-4 product-m no-arrow">
                        @if (lstUnPackItems != null && lstUnPackItems.Count() > 0)
                        {
                            foreach (var objItem in lstUnPackItems)
                            {
                                string imgpath = "";
                                string clswishlist = "";
                                if (!string.IsNullOrEmpty(objItem.MainImage))
                                {
                                    if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + objItem.MainImage)))
                                    {
                                        imgpath = "/Images/ProductItemMedia/" + objItem.MainImage;
                                    }
                                    else
                                    {
                                        imgpath = @ErrorMessage.DefaultImagePath;
                                    }
                                }
                                else
                                {
                                    imgpath = @ErrorMessage.DefaultImagePath;
                                }
                                if (objItem.IsWishListItem)
                                {
                                    clswishlist = "wishlistcls";
                                }
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="/products/detail/@objItem.ProductItemId"><img src="@imgpath" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-toggle="modal" style="display:none;" data-target="#addtocart" title="Add to cart" onclick="AddtoCartfunc(@objItem.ProductItemId, 1,'@objItem.IsCashonDelieveryuse.ToString()');">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            @if (clsClientSession.UserID > 0)
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="addremovewishlist('@objItem.ProductItemId',this);"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" title="Add to Wishlist" tabindex="0" onclick="alert('Please login for add item to wishlist');"><i class="fa fa-heart @clswishlist" aria-hidden="true"></i></a>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        <a href="/products/detail/@objItem.ProductItemId">
                                            <h6>@objItem.ItemName</h6>
                                        </a>
                                        @if (clsClientSession.UserID == 0 || (clsClientSession.UserID > 0 && clsClientSession.RoleID == 1))
                                        {
                                            <h4>₹ @objItem.CustomerPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                        else
                                        {
                                            <h4>₹ @objItem.DistributorPrice <del>₹ @objItem.MRPPrice</del></h4>
                                        }
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product slider end -->
}
<!-- UpPack Products List end -->
@*Site Statistics - start*@
<div class="title1 section-t-space">
    <div class="title4">
        <h2 class="title-inner4">Site Statistics</h2>
        <div class="line"><span></span></div>
    </div>
</div>
@*<div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="product-para">
                    <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
        </div>
    </div>*@
<!-- Paragraph end -->
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">

        <div class="counter-section">
            <div class="row">
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="~/Content/assets/images/icon/dashboard/order.png" class="img-fluid">
                        <div>
                            <h3>@objStatistics.TotalCustomers</h3>
                            <h5>Total Customers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="~/Content/assets/images/icon/dashboard/sale.png" class="img-fluid">
                        <div>
                            <h3>@objStatistics.TotalDistributers</h3>
                            <h5>Total Distributer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="~/Content/assets/images/icon/dashboard/homework.png" class="img-fluid">
                        <div>
                            <h3>@objStatistics.TotalHappyCustomers</h3>
                            <h5>Happiest Customers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-box">
                        <img src="~/Content/assets/images/icon/dashboard/sale.png" class="img-fluid">
                        <div>
                            <h3>@objStatistics.TotalSiteVisitors</h3>
                            <h5>Site Visitors</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Product slider end -->
@*Site Statistics - end*@

@if (lstHappyCustomers != null && lstHappyCustomers.Count() > 0)
{
    <section class="ratio_landscape game-product light-layout section-b-space">
        <div class="title4">
            <h2 class="title-inner4">Happiest Customers</h2>
            <div class="line"><span></span></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 viewmore">
                        <a href="/happycustomer" class="btn btn-solid btn-xs" style="float: right; margin-bottom: 25px; border-radius: 10px;">
                            <i class="fa fa-angle-double-right"></i>View More
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product-4 product-m no-arrow">
                        @foreach (var objItem in lstHappyCustomers)
                        {
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a href="javascript:void(0);">
                                            @if (!string.IsNullOrEmpty(objItem.CustomerImage))
                                            {
                                                if (File.Exists(Server.MapPath(ErrorMessage.HappyCustomerDirectoryPath + objItem.CustomerImage)))
                                                {
                                                    <img src="@ErrorMessage.HappyCustomerDirectoryPath/@objItem.CustomerImage" alt="" class="bg-img img-fluid blur-up lazyload" />
                                                }
                                                else
                                                {
                                                    <img src="@ErrorMessage.DefaultImagePath" alt="" class="bg-img img-fluid blur-up lazyload" />
                                                }
                                            }
                                            else
                                            {
                                                <img src="@ErrorMessage.DefaultImagePath" alt="" class="bg-img img-fluid blur-up lazyload" />
                                            }
                                        </a>
                                    </div>
                                </div>
                                <div class="product-detail">
                                    <a href="javascript:void(0);">
                                        <h5>@objItem.CustomerName</h5>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    function addremovewishlist(itemid, objthis) {
        var URL = '/Client/Products/AddRemoveWishList';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?ItemId=" + itemid,
            success: function (result) {
                if (result == "Success") {
                    if ($(objthis).find('.fa-heart').hasClass("wishlistcls")) {
                        $(objthis).find('.fa-heart').removeClass("wishlistcls");
                        msgsuccess('Item Successfully removed from wishlist');
                    }
                    else {
                        $(objthis).find('.fa-heart').addClass("wishlistcls");
                        msgsuccess('Item Successfully added in wishlist');
                    }
                }
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
    function msgsuccess(msg) {
        $.notify({
            icon: 'fa fa-check',
            title: 'Success!',
            message: msg
        }, {
                element: 'body',
                position: null,
                type: "info",
                allow_dismiss: true,
                newest_on_top: false,
                showProgressbar: true,
                placement: {
                    from: "top",
                    align: "right"
                },
                offset: 20,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                icon_type: 'class',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
    }

</script>