@using KrupaBuildGallery.Helper;
@model RoleVM

@{
    ViewBag.Title = "Role";
}

<style>
    .labeltext {
        font-weight: bold;
        font-size: 14px;
        color: #000000;
    }

    .labelvalue {
        font-size: 14px;
        color: #000000;
        padding-left: 15px;
    }

    .profile-table table tbody tr td:first-child {
        min-width: 150px;
        font-weight: bold;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Role - @Model.AdminRoleName
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/role">Role</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Role</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>

                                        <tr>
                                            <td>Role Name:</td>
                                            <td>@Model.AdminRoleName</td>
                                        </tr>
                                        <tr>
                                            <td>Role Description:</td>
                                            <td>@Model.AdminRoleDescription</td>
                                        </tr>

                                        <tr>
                                            <td>Created By:</td>
                                            <td>@Model.strCreatedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Created Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.CreatedDate)</td>
                                        </tr>

                                        <tr>
                                            <td>Modified By:</td>
                                            <td>@Model.strModifiedBy</td>
                                        </tr>

                                        <tr>
                                            <td>Modified Date:</td>
                                            <td>@CommonMethod.ConvertFromUTC(Model.UpdatedDate)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <table class="table table-bordernone mb-0 col-md-8">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" width="30%">Module Name</th>
                                        <th scope="col">Permission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.lstRoleModules != null && Model.lstRoleModules.Count > 0)
                                    {
                                        int cnt = 0;
                                        foreach (RoleModuleVM module in Model.lstRoleModules)
                                        {
                                            <tr>
                                                <td>@(cnt + 1)</td>
                                                <td>@module.ModuleName</td>
                                                <td>
                                                    <label>@Html.RadioButtonFor(m => m.lstRoleModules[cnt].SelectedValue, 0, new { @class = "radio_animated", @disabled = "disabled" }) None</label>
                                                    <label>@Html.RadioButtonFor(m => m.lstRoleModules[cnt].SelectedValue, 1, new { @class = "radio_animated", @disabled = "disabled" }) View</label>
                                                    <label>@Html.RadioButtonFor(m => m.lstRoleModules[cnt].SelectedValue, 2, new { @class = "radio_animated", @disabled = "disabled" }) Add</label>
                                                    <label>@Html.RadioButtonFor(m => m.lstRoleModules[cnt].SelectedValue, 3, new { @class = "radio_animated", @disabled = "disabled" }) Edit</label>
                                                    <label>@Html.RadioButtonFor(m => m.lstRoleModules[cnt].SelectedValue, 4, new { @class = "radio_animated", @disabled = "disabled" }) Full</label>
                                                </td>
                                            </tr>

                                            cnt++;
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>

<script>
</script>
