@using KrupaBuildGallery.Model;
@{
    ViewBag.Title = "Contact us";
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>contact</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23586.60883624281!2d73.63608259577147!3d22.762840438865727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39609a85bf8d519b%3A0x69d3333b6ae62647!2sKrupa%20Build%20Gallery!5e0!3m2!1sen!2sin!4v1583087000585!5m2!1sen!2sin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="~/Content/assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 9824643334</p>
                                @*<p>+86 163 - 451 - 7894</p>*@
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Nr. Vasupujia Society, Gadukpur Chokdi, Bamroli Road, </p>
                                <p>Godhra - 389001. India.</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="~/Content/assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Info@Krupagallery.Com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>9824643334</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("SendContactUsMessage", "ContactUs", FormMethod.Post, new { ID = "theFormId", @class = "theme-form", onsubmit = "return checkdetails();" }))
                {
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="firstname">First Name *</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" value="@clsClientSession.FirstName" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="lastname">Last Name *</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" value="@clsClientSession.LastName" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="phonenumber">Mobile number *</label>
                                <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Enter Mobile number" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" value="@clsClientSession.Email" required="">
                            </div>
                            <div class="col-md-12">
                                <label for="txtmessage">Write Your Message *</label>
                                <textarea class="form-control" placeholder="Write Your Message" id="txtmessage" name="txtmessage" rows="6"></textarea>
                            </div>
                            <input type="hidden" id="hdnotptxt" value="" />
                            <div class="col-md-12">
                                <button class="btn btn-solid" type="submit">Send Your Message</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contactus form request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#hdnotptxt').val('');">&times;</button>
            </div>
            <div class="modal-body">
                <label>Enter OTP</label><input type="text" id="otptxt" value="" class="form-control" />              
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="$('#hdnotptxt').val('');">Close</button>
                <button class="btn btn-primary" type="button" onclick="submitotp();">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Section ends-->
@if (TempData["Message"] != null)
{
    <script>
    setTimeout(function(){
    alert('@TempData["Message"]');
    }, 1000);

    </script>
}
<script>
    
    function checkdetails() {
        if (!ValidateEmail($("#email").val())) {
            alert("You have entered an invalid email address!")
            return false;
        }
        else if ($("#txtmessage").val().trim() == "") {
            alert("Please enter message");
            return false;
        }
        else {
            if ($('#hdnotptxt').val() == "") {
                 var URL = '@Url.Action("SendOTP", "ContactUs")';
               $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MobileNumber=" + $("#phonenumber").val(),
                success: function (result) {
                    if (result == "InvalidNumber") {
                        alert("Mobile Number is invalid");
                        return false;
                    }
                    else {
                        $('#hdnotptxt').val(result);
                        $("#otpmodal").modal();
                    }
                },
                error: function (resultData) {                    
                }
            });
                return false;
            }
            else {
                StartLoading();
                return true;
            }
            
        }

    }

    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return true;
        }
        else {
            return false;
        }
    }

    function submitotp() {
        if ($("#otptxt").val() == "") {
            alert("Please enter otp");
            return false;
        }

        if ($("#otptxt").val() != $('#hdnotptxt').val()) {
             alert("Invalid OTP");
            return false;
        }
        $("#theFormId").submit();
    }
</script>