

@model ComboOfferVM
@{
    ViewBag.Title = "Add Combo Offer";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Edit Combo Offer
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/combooffer">Combo Offer</a></li>
                        <li class="breadcrumb-item active">Edit Combo Offer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Combo Offer</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "ComboOffer", FormMethod.Post, new { @id = "ComboOfferFormId", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row">

                                <div class="col-sm-2">
                                    <label>Main Item:</label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Main_CategoryId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Main_CategoryId, new SelectList(Model.Main_CategoryList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Main_CategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Main_ProductId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Main_ProductId, new SelectList(Model.Main_ProductList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Main_ProductId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Main_SubProductId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Main_SubProductId, new SelectList(Model.Main_ProductList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Main_SubProductId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Main_ProductItemId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Main_ProductItemId, new SelectList(Model.Main_ProductItemList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Main_ProductItemId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Main_Qty, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Main_Qty, new { htmlAttributes = new { @class = "form-control", @placeholder = "Qty", maxlength = "100" } })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Main_Qty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row" style="margin-top:30px;">

                                <div class="col-sm-2">
                                    <label>Sub Item:</label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Sub_CategoryId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Sub_CategoryId, new SelectList(Model.Sub_CategoryList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Sub_CategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Sub_ProductId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Sub_ProductId, new SelectList(Model.Sub_ProductList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Sub_ProductId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Sub_SubProductId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Sub_SubProductId, new SelectList(Model.Sub_ProductList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Sub_SubProductId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Sub_ProductItemId, htmlAttributes: new { @class = "" })
                                    @Html.DropDownListFor(model => model.Sub_ProductItemId, new SelectList(Model.Sub_ProductItemList, "Value", "Text"), "- Select -", new { @class = "form-control", style = "" })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Sub_ProductItemId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Sub_Qty, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.Sub_Qty, new { htmlAttributes = new { @class = "form-control", @placeholder = "Qty", maxlength = "100" } })

                                    <lable class=""></lable>
                                    @Html.ValidationMessageFor(model => model.Sub_Qty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top: 30px;">
                                @Html.LabelFor(model => model.OfferTitle, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.OfferTitle, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Offer Title", maxlength = "600" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.OfferTitle, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ComboOfferPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.ComboOfferPrice, new { htmlAttributes = new { @class = "form-control col-md-8", @placeholder = "Enter Offer Price", maxlength = "150" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.ComboOfferPrice, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.OfferStartDate, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.OfferStartDate, new { htmlAttributes = new { @class = "form-control col-md-8 clsDatePicker", @placeholder = "DD/MM/YYY", @readonly = "readonly" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.OfferStartDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.OfferEndDate, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.EditorFor(model => model.OfferEndDate, new { htmlAttributes = new { @class = "form-control col-md-8 clsDatePicker", @placeholder = "DD/MM/YYY", @readonly = "readonly" } })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.OfferEndDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.OfferImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextBoxFor(model => model.OfferImageFile, new { type = "file", @class = "form-control col-md-8" })

                                <lable class="col-xl-3 col-md-4"></lable>
                                @Html.ValidationMessageFor(model => model.OfferImageFile, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                @Html.HiddenFor(x => x.ComboOfferId)
                                <lable class="col-xl-3 col-md-4"></lable>
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    $(document).on("click", "#btnCancel", function () {
        window.location.href = "/admin/combooffer";
    });

    jQuery(document).on("change", "#Main_CategoryId", function () {

        var CategoryId = jQuery("#Main_CategoryId option:selected").val();

        if (CategoryId != "" && CategoryId != null) {

            var URL = '@Url.Action("GetProductListByCategoryId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + CategoryId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select Product-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Main_ProductId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
       else {
             var htmlSubData = "<option value='0'>- Select Product -</option>";
            $("#Main_ProductId").html(htmlSubData);
        }
    });

    jQuery(document).on("change", "#Main_ProductId", function () {

        var ProductId = jQuery("#Main_ProductId option:selected").val();

        if (ProductId != "" && ProductId != null) {

            var URL = '@Url.Action("GetSubProductListByProductId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + ProductId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select SubProduct-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Main_SubProductId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
        else {
             var htmlSubData = "<option value='0'>- Select SubProduct -</option>";
            $("#Main_SubProductId").html(htmlSubData);
        }
    });

    jQuery(document).on("change", "#Main_ProductId,#Main_SubProductId", function () {

        var ProductId = jQuery("#Main_ProductId option:selected").val();
        var SubProductId = jQuery("#Main_SubProductId option:selected").val();

        if ((ProductId != "" && ProductId != null) || (SubProductId != "" && SubProductId != null)) {
            var URL = '@Url.Action("GetItemList", "Stock")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "?ProductId=" + ProductId + "&SubProductId=" + SubProductId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select Product Item-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Main_ProductItemId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
       else {
            var htmlSubData = "<option value='0'>- Select Product Item -</option>";
            $("#Main_ProductItemId").html(htmlSubData);
        }
    });

      jQuery(document).on("change", "#Sub_CategoryId", function () {

        var CategoryId = jQuery("#Sub_CategoryId option:selected").val();

        if (CategoryId != "" && CategoryId != null) {

            var URL = '@Url.Action("GetProductListByCategoryId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + CategoryId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select Product-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Sub_ProductId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
       else {
             var htmlSubData = "<option value='0'>- Select Product -</option>";
            $("#Sub_ProductId").html(htmlSubData);
        }
    });

    jQuery(document).on("change", "#Sub_ProductId", function () {

        var ProductId = jQuery("#Sub_ProductId option:selected").val();

        if (ProductId != "" && ProductId != null) {

            var URL = '@Url.Action("GetSubProductListByProductId", "SubProduct")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "/" + ProductId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select SubProduct-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Sub_SubProductId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
        else {
             var htmlSubData = "<option value='0'>- Select SubProduct -</option>";
            $("#Sub_SubProductId").html(htmlSubData);
        }
    });

    jQuery(document).on("change", "#Sub_ProductId,#Sub_SubProductId", function () {

        var ProductId = jQuery("#Sub_ProductId option:selected").val();
        var SubProductId = jQuery("#Sub_SubProductId option:selected").val();

        if ((ProductId != "" && ProductId != null) || (SubProductId != "" && SubProductId != null)) {
            var URL = '@Url.Action("GetItemList", "Stock")';
            $.ajax({
                type: 'GET',
                async: true,
                url: URL + "?ProductId=" + ProductId + "&SubProductId=" + SubProductId,
                success: function (result) {
                    var htmlData = "<option value='0'>-Select Product Item-</option>";
                    if (result && result.length > 0) {
                        result.forEach(element => {
                            htmlData += "<option value='" + element.Value + "'> " + element.Text + " </option>";
                        });
                    }
                    $("#Sub_ProductItemId").html(htmlData);
                },
                error: function (error) {
                }
            });
        }
       else {
            var htmlSubData = "<option value='0'>- Select Product Item -</option>";
            $("#Sub_ProductItemId").html(htmlSubData);
        }
    });
</script>

