
@{
    ViewBag.Title = "Register";
}

<style>
    .register-page .theme-card .theme-form input {
        margin-bottom: 13px;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    @using (Html.BeginForm("CreateAccount", "Register", FormMethod.Post, new { ID = "theFormId", @class = "theme-form", onsubmit = "return checkregister();" }))
                    {
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="fname">First Name *</label>
                                <input type="text" class="form-control" id="fname" value="@TempData["firstnm"]" name="fname" placeholder="First Name" required />
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name *</label>
                                <input type="text" class="form-control" id="lname" name="lname" value="@TempData["lastnm"]" placeholder="Last Name" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="mobileno">Mobile No. *</label>
                                <input type="number" class="form-control" id="mobileno" name="mobileno" value="@TempData["mobileno"]" placeholder="Mobile No." required />
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" value="@TempData["email"]" name="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="password">Password *</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required />
                            </div>
                            <div class="col-md-6">
                                <label for="confirmpassword">Confirm Password *</label>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter your confirm password" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="checkbox" name="chktermcondition" id="chktermcondition" required /> I have read and accept the <a href="/termscondition" target="_blank">terms & conditions.</a>
                            </div>
                            <div class="col-md-6">

                            </div>
                            <input type="hidden" name="hdnReferer" value="@ViewBag.Referer" />
                            <input type="hidden" id="hdnotptxt" value="" />
                            <input type="submit" value="Create Account" class="btn btn-solid" />
                            @if (Convert.ToString(ViewBag.Referer) != "")
                            {
                                <input onclick="location.href='/login?referer=@ViewBag.Referer'" type="button" value="Back to Login" class="btn btn-solid" />
                            }
                            else
                            {
                                <input onclick="location.href='/login'" type="button" value="Back to Login" class="btn btn-solid" />
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">&times;</button>
            </div>
            <div class="modal-body">
                <label>Enter Mobile's OTP</label><input type="text" id="otptxt" value="" class="form-control" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">Close</button>
                <button class="btn btn-primary" type="button" onclick="submitotp();">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--Section ends-->
@if (TempData["RegisterError"] != null)
{
    <script>
    setTimeout(function(){
    alert('@TempData["RegisterError"]');
    }, 1000);

    </script>
}

<script>
    function checkregister() {
        if (!ValidateEmail($("#email").val())) {
            alert("You have entered an invalid email address!")
            return false;
        }
        else if ($("#password").val() != $("#confirmpassword").val()) {
            alert("Password and Confirm Pasword not match!")
            return false;
        }
        else {
           if ($('#hdnotptxt').val() == "") {
                 var URL = '@Url.Action("SendOTP", "Register")';
               $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MobileNumber=" + $("#mobileno").val(),
                success: function (result) {
                    if (result == "InvalidNumber") {
                        alert("Mobile Number is invalid");
                        return false;
                    }
                   else if (result == "AlreadyExist") {
                        alert("Your Account is already exist with this mobile number.Please go to Login or Contact to support");
                        return false;
                    }
                    else {
                        $('#hdnotptxt').val(result);
                        $("#otpmodal").modal();
                    }
                },
                error: function (resultData) {
                }
            });
                return false;
            }
            else {
                StartLoading();
                return true;
            }
        }

    }

    function ValidateEmail(mail) {
        if (mail != "") {
              if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return true;
        }
        else {
            return false;
         }
        }
        else {
            return true;
        }

    }
     function submitotp() {
        if ($("#otptxt").val() == "") {
            alert("Please enter otp");
            return false;
        }

        if ($("#otptxt").val() != $('#hdnotptxt').val()) {
             alert("Invalid Mobile OTP");
            return false;
        }

        $("#theFormId").submit();
    }
</script>