@model  KrupaBuildGallery.ViewModel.ClientUserVM
<link href="~/Content/lightbox.min.css" rel="stylesheet" />
<style>
    .label-wrapper {
        display: table;
        float: right;
        min-height: 28px;
    }

    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

        .form-horizontal .form-group:before {
            content: " ";
            display: table
        }

        .form-horizontal .form-group:after {
            clear: both !important
        }

    .form-horizontal .label-wrapper .control-label {
        display: table-cell;
        font-weight: bold;
    }

    .form-text-row {
        /*padding-top: 6px;*/
    }

    .col-md-3 {
        float: left;
    }

    @@media(max-width: 992px) {
        .form-horizontal .label-wrapper {
            float: none;
            margin-bottom: 3px;
            margin-top: 5px
        }
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Distributor Detail
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/distributor">Distributor</a></li>
                        <li class="breadcrumb-item active">Distributor Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Distributor Detail</h5>
                    </div>
                    <div class="card-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Name:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Prefix @Model.FirstName @Model.LastName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Company Name:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CompanyName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Email:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Mobile No.:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.MobileNo</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Alternate Mobile No.:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(Model.AlternateMobileNo))
                                {
                                    <div class="form-text-row">@Model.AlternateMobileNo</div>
                                }
                                else
                                {
                                    <div class="form-text-row">N/A</div>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Address:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.City <br /> @Model.State  </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">GST No:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(Model.GSTNo))
                                {
                                    <div class="form-text-row">@Model.GSTNo</div>
                                }
                                else
                                {
                                    <div class="form-text-row">N/A</div>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Aadhaar No:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(Model.AddharCardNo))
                                {
                                    <div class="form-text-row">@Model.AddharCardNo</div>
                                }
                                else
                                {
                                    <div class="form-text-row">N/A</div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Pan Card No:</label></div>
                            </div>
                            <div class="col-md-9">
                                @if (!string.IsNullOrEmpty(Model.PanCardNo))
                                {
                                    <div class="form-text-row">@Model.PanCardNo</div>
                                }
                                else
                                {
                                    <div class="form-text-row">N/A</div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Profile Photo:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/UsersDocuments/" + (Model.ProfilePhoto))))
                                        {
                                            <a class="example-image-link" href="~/Images/UsersDocuments/@Model.ProfilePhoto" data-lightbox="ProfilePhoto">
                                                <img src="~/Images/UsersDocuments/@Model.ProfilePhoto" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            </a>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Addhar Card Photo:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrEmpty(Model.AddharPhoto))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/UsersDocuments/" + (Model.AddharPhoto))))
                                        {
                                            <a class="example-image-link" href="~/Images/UsersDocuments/@Model.AddharPhoto" data-lightbox="AddharPhoto">
                                                <img src="~/Images/UsersDocuments/@Model.AddharPhoto" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            </a>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Shop Photo:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrEmpty(Model.ShopPhoto))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/UsersDocuments/" + (Model.ShopPhoto))))
                                        {
                                            <a class="example-image-link" href="~/Images/UsersDocuments/@Model.ShopPhoto" data-lightbox="ShopPhoto">
                                                <img src="~/Images/UsersDocuments/@Model.ShopPhoto" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            </a>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">GST Photo:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrEmpty(Model.GSTPhoto))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/UsersDocuments/" + (Model.GSTPhoto))))
                                        {
                                            <a class="example-image-link" href="~/Images/UsersDocuments/@Model.GSTPhoto" data-lightbox="GSTPhoto">
                                                <img src="~/Images/UsersDocuments/@Model.GSTPhoto" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            </a>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Pan Card Photo:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrEmpty(Model.PancardPhoto))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/UsersDocuments/" + (Model.PancardPhoto))))
                                        {
                                            <a class="example-image-link" href="~/Images/UsersDocuments/@Model.PancardPhoto" data-lightbox="panphoto">
                                                <img src="~/Images/UsersDocuments/@Model.PancardPhoto" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                            </a>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Credit Limit:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    <div class="form-text-row">
                                        ₹ @Model.CreditLimit
                                        <br />
                                        <button type="button" name="btnChangeCreditLimit" id="btnChangeCreditLimit" onclick="changecreditlimit('@Model.AmountDue','@Model.ClientUserId');" class="btn btn-primary" style="display: inline-block;">
                                            Change Credit Limit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Amount Due:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    <div class="form-text-row">₹ @Model.AmountDue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h5>Order List</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body vendor-table">
                            <table class="display" id="basic-1">
                                <thead>
                                    <tr>
                                        <th>Order #</th>
                                        <th>Order Date</th>
                                        <th>Order Amount</th>
                                        <th>Order Status</th>
                                        <th>Payment Type</th>
                                        <th>Order Amount Due</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.OrderList != null && Model.OrderList.Count > 0)
                                    {
                                        foreach (KrupaBuildGallery.ViewModel.OrderVM objorder in Model.OrderList)
                                        {
                                            decimal shippingchrge = 0;
                                            if (objorder.ShippingStatus == 2)
                                            {
                                                shippingchrge = objorder.ShipmentCharge;
                                            }
                                            decimal OrdAmt = Math.Round(objorder.OrderAmount + shippingchrge, 2);

                                            string stauscolor = "badge-secondary";
                                            if (objorder.OrderStatusId == 1)
                                            {
                                                stauscolor = "badge-danger";
                                            }
                                            else if (objorder.OrderStatusId == 2)
                                            {
                                                stauscolor = "badge-success";
                                            }
                                            else if (objorder.OrderStatusId == 3)
                                            {
                                                stauscolor = "badge-warning";
                                            }
                                            <tr>
                                                <td>@objorder.OrderId</td>
                                                <td>@objorder.OrderDate.ToString("MMM dd,yyyyy")</td>
                                                <td>₹ @Math.Round(OrdAmt, 2)</td>
                                                <td><span class="badge @stauscolor">@objorder.OrderStatus</span></td>
                                                <td>@objorder.PaymentType</td>
                                                <td>₹ @objorder.OrderAmountDue</td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="invoiceprint('@objorder.OrderId');" title="Print Invoice"><i class="fa fa-file font-success"></i></a>
                                                    <a href="/admin/distributor/paymentdetail/@objorder.OrderId" title="Payment Details"><i class="fa fa-money font-success"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <div style="display: none;" id="dvPrint">
    </div>
</div>
<div class="modal fade open" id="changecreditlimitmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Credit Limit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Enter Credit Limit <input type="number" id="txtcredt" value="" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="clientusrid" value="" />
                <input type="hidden" id="amountdue" value="" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="savecreditlimit" class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/prism.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>
@*<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>*@

<script>
    function invoiceprint(orderid) {
        $("#dvPrint").load('/admin/Distributor/PrintInvoice?OrderId=' + orderid, function () {
            w = window.open();
            w.document.write($("#dvPrint").html());
            setTimeout(function () {
                w.print();
                w.close();
            }, 100);
        });
    }

    function changecreditlimit(amtdue, clientuserid) {
        $("#changecreditlimitmodal").modal("show");
        $("#amountdue").val(amtdue);
        $("#clientusrid").val(clientuserid);
    }

    jQuery(document).on("click", "#savecreditlimit", function () {
        if ($("#txtcredt").val().trim() == "") {
            alert("Please Enter Credit Limit");
            return;
        }

        var amountdue = parseFloat($("#amountdue").val());
        if (parseFloat($("#txtcredt").val().trim()) < parseFloat($("#amountdue").val())) {
            alert("Amount Due is more than Credit Limit");
            return;
        }
        var URL = '/Admin/Distributor/ChangeCreditLimit';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?ClientUserId=" + $("#clientusrid").val() + "&CreditLimit=" + $("#txtcredt").val().trim(),
            success: function (result) {
                alert("Credit Limit Changed Successfully");
                $("#changecreditlimitmodal").modal("hide");
                location.reload();
            },
            error: function (error) {
                console.log("error");
                alert(error);
                $("#changecreditlimitmodal").modal("hide");
            }
        });

    });
</script>