@model List<KrupaBuildGallery.ViewModel.DistributorRequestVM>
@{
    ViewBag.Title = "Distributor Requests";

    int counter = 1;
}
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Distributor Request List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Distributor</li>
                        <li class="breadcrumb-item active">Distributor Request List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Distributor Request List</h5>
            </div>
            <div class="card-body vendor-table">
                <table class="display" id="basic-1">
                    <thead>
                        <tr>           
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile No.</th>                        
                            <th>City</th>
                            <th>State</th>
                            <th>Company</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (KrupaBuildGallery.ViewModel.DistributorRequestVM objreq in Model)
                            {
                        <tr class="gradeX">
                            <td>@counter.</td>
                            <td>@objreq.FirstName</td>
                            <td>@objreq.LastName</td>
                            <td>@objreq.Email</td>
                            <td>@objreq.MobileNo</td>
                            <td>@objreq.City</td>
                            <td>@objreq.State</td>
                            <td>@objreq.CompanyName</td>
                            <td>
                                <a href="/admin/distributor/requestdetail/@objreq.DistributorRequestId"><i class="fa fa-eye font-success"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-trash font-danger"></i></a>
                            </td>
                        </tr>
                                counter++;
                            }

                        }                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

