@model  KrupaBuildGallery.ViewModel.DistributorRequestVM
<style>
    .label-wrapper {
        display: table;
        float: right;
        min-height: 28px;
    }

    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

        .form-horizontal .form-group:before {
            content: " ";
            display: table
        }

        .form-horizontal .form-group:after {
            clear: both !important
        }

    .form-horizontal .label-wrapper .control-label {
        display: table-cell;
        font-weight: bold;
    }

    .form-text-row {
        /*padding-top: 6px;*/
    }

    .col-md-3 {
        float: left;
    }

    @@media(max-width: 992px) {
        .form-horizontal .label-wrapper {
            float: none;
            margin-bottom: 3px;
            margin-top: 5px
        }
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <div class="page-header-left">
                        <h3>
                            Distributor Request Detail
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/admin/distributor">Distributor</a></li>
                        <li class="breadcrumb-item active">Distributor Request Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Distributor Detail</h5>
                    </div>
                    <div class="card-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Company Name:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CompanyName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Name:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.FirstName @Model.LastName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Email:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Mobile No.:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.MobileNo</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Address:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.City <br /> @Model.State  </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">GST No</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.GSTNo</div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Aadhaar No:</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.AddharCardNo</div>
                            </div>
                        </div>
                        <br />
                        <input type="hidden" value="@Model.DistributorRequestId" id="requestid" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="label-wrapper"><label class="control-label">Do you want to Approve/Reject?</label></div>
                            </div>
                            <div class="col-md-8">
                                <label class="radio-inline"><input type="radio" value="Approve" name="optradioapprove">Approve</label>
                                <label class="radio-inline"><input type="radio" value="Reject" name="optradioapprove">Reject</label>
                            </div>
                        </div>
                        <div class="row distributorinfo" style="display:none;">
                            <div class="col-md-4">
                                <div class="label-wrapper"><label class="control-label">Credit Limit:</label></div>
                            </div>
                            <div class="col-md-8">
                                <input type="number" name="txtcreditlimit" id="txtcreditlimit" style="width:150px;height:30px;" class="form-control" />
                            </div>
                        </div>
                        <div class="row distributorinfo" style="margin-top:5px;display:none;">
                            <div class="col-md-4">
                                <div class="label-wrapper"><label class="control-label">Password:</label></div>
                            </div>
                            <div class="col-md-8">
                                <input type="password" name="txtpassword" id="txtpassword" style="width:400px;height:30px;" class="form-control" />
                            </div>
                        </div>
                        <div class="row distributorinfo" style="margin-top:10px;display:none;">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <button type="button" class="btn btn-primary" onclick="ApproveDistributor();" >Approve and Add to Distributor</button>
                            </div>
                        </div>
                        <div class="row distributorinforeject" style="margin-top:5px;display:none;">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary" onclick="RejectDistributor();">Reject</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <div style="display: none;" id="dvPrint">
    </div>
</div>
<script>
    $("input[name=optradioapprove]").click(function () {
        if ($(this).val() == "Approve") {
            $(".distributorinfo").show();
            $(".distributorinforeject").hide();
        }
        else {
            $(".distributorinforeject").show();
            $(".distributorinfo").hide();
        }
    });
    function ApproveDistributor() {
        var creditlimi = $("#txtcreditlimit").val();
        if (creditlimi == "") {
            creditlimi = "0";
        }
        var pwd = $("#txtpassword").val();
        if (pwd == "") {
            alert("Please enter password");
            return false;
        }

        var URL = '/Admin/Distributor/ApproveRejectDistributorRequest';
        $.ajax({
            type: 'POST',
            async: true,
            url: URL + "?RequestId=" + $("#requestid").val() +"&IsApprove=true&CreditLimit="+creditlimi+"&Password="+pwd,
            success: function (result) {
                alert("Distributor Request Approved. You can find approved distributors in distributor list");
                location.href = "/admin/distributor/requestlist";
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }

    function RejectDistributor() {
         var URL = '/Admin/Distributor/ApproveRejectDistributorRequest';
        $.ajax({
            type: 'POST',
            async: true,
            url: URL + "?RequestId=" + $("#requestid").val() +"&IsApprove=false",
            success: function (result) {
                alert("Distributor Request Rejected!");
                location.href = "/admin/distributor/requestlist";
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
</script>