@using KrupaBuildGallery.Helper;
@using Newtonsoft.Json;
@using KrupaBuildGallery.Model;

@model List<KrupaBuildGallery.ViewModel.ContactUsMessageVM>
@{
    ViewBag.Title = "Contact Us Messages";

    int counter = 1;
}

@{
    UserPermissionVM objPermission = new UserPermissionVM();

    int RoleId = Int32.Parse(clsAdminSession.RoleID.ToString());

    if (RoleId != 1)
    {
        string strPermission = clsAdminSession.UserPermission;
        objPermission = JsonConvert.DeserializeObject<UserPermissionVM>(strPermission, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    }
    bool IsSA = (RoleId == 1 ? true : false);
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Contact Us Message List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li> 
                        <li class="breadcrumb-item active">ContactUs Message List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>ContactUs Message List</h5>
            </div>
            <div class="card-body vendor-table">
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th style="width:50px !important;"></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile No.</th>
                            <th>Message</th>
                            <th>From App/Web</th>
                            <th>Message Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (KrupaBuildGallery.ViewModel.ContactUsMessageVM objcontact in Model)
                            {
                                <tr class="gradeX">
                                    <td style="width:50px !important;">@counter.</td>
                                    <td>@objcontact.Name</td>
                                    <td>@objcontact.Email</td>
                                    <td>@objcontact.MobileNumber</td>
                                    <td>@objcontact.Message</td>
                                    <td>@objcontact.FromWhere</td>
                                    <td>@objcontact.MessageDate.ToString("MMM dd,yyyy")</td>
                                    <td>
                                        @if (IsSA || objPermission.ContactRequest >= (int)ModulePermission.Full)
                                        {
                                            <a href="javascript:void(0);" onclick="fnDeleteContactus('@objcontact.ContactUsMsgId');"><i class="fa fa-trash font-danger"></i></a>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteContactusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteContactusid" />
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btnDeleteContactUs" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<script>
        jQuery(document).on("click", "#btnDeleteContactUs", function () {

        var contactusid = jQuery("#hdnDeleteContactusid").val();
        if (contactusid != "" && contactusid != null) {
            $('#deleteContactusModal').modal('hide');
            $.blockUI({ message: "<h4>Please Wait...</h4>" });
            var URL = '@Url.Action("DeleteContactUs", "ContactUsMessage")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + contactusid,
                success: function (result) {
                    if (result == "success") {
                        alert("ContactUs message deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Something went wrong. Please try again");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                    $.unblockUI();
                },
                error: function (resultData) {
                    console.log("error");
                    $.unblockUI();
                }
            });
        }
    });

    function fnDeleteContactus(contact_id) {
        jQuery("#hdnDeleteContactusid").val(contact_id);
        $('#deleteContactusModal').modal('show');
        }

</script>