@using KrupaBuildGallery.Model;
@using KrupaBuildGallery.Helper;
@{
    Layout = null;
}
@{
    ViewBag.Title = "Cart";
    List<CartVM> lstCashItms = ViewData["CashCartItems"] as List<CartVM>;
    List<CartVM> lstOnliItms = ViewData["OnlinePaymentCartItems"] as List<CartVM>;
    int counter = 1;
    decimal CartTotal = 0;
    decimal CashCartTotal = 0;
    int TotalCartItem = lstCashItms.Count + lstOnliItms.Count;
}
@if (lstCashItms != null && lstCashItms.Count > 0)
{
    <li><b>Cash on Delivery Items</b></li>
    foreach (CartVM item in lstCashItms)
    {
        decimal ItemTotal = Convert.ToDecimal(item.Qty * item.Price);
        CashCartTotal = CashCartTotal + ItemTotal;
        <li>
            <div class="media">
                <a href="#">
                    @if (!string.IsNullOrEmpty(item.ItemImage))
                    {
                        if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + item.ItemImage)))
                        {
                            <img src="~/Images/ProductItemMedia/@item.ItemImage" alt="" class="mr-3" style="width: 40px; height:40px;" />
                        }
                        else
                        {
                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="mr-3" style="width: 40px; height: 40px;" />
                        }
                    }
                    else
                    {
                        <img src="@ErrorMessage.DefaultImagePath" alt="" class="mr-3" style="width: 40px; height: 40px;" />
                    }
                </a>
                <div class="media-body">
                    <a href="#">
                        <h4>@item.ItemName - @item.VariantQtytxt</h4>
                    </a>
                    <h4><span>@item.Qty x ₹ @item.Price</span></h4>
                </div>
            </div>
            <div class="close-circle"><a href="javascript:void(0);" onclick="removecartfromtop('@item.CartId',this);"><i class="fa fa-times" aria-hidden="true"></i></a></div>
        </li>
    }
    <li>
        <div class="total">
            <h5>subtotal : <span>₹ @CashCartTotal</span></h5>
        </div>
    </li>
    <li style="border-bottom: 1px solid #f1f5f4;">
        <div class="buttons">
            <a href="/cart" class="view-cart">view cart</a>
            @if (clsClientSession.UserID > 0)
            {
                <a href="/checkoutcash" class="checkout" title="Checkout for Cash on Delivery Items">checkout</a>
            }
            else
            {
                <a href="/login?referer=checkoutcash" class="checkout" title="Checkout for Cash on Delivery Items">checkout</a>
            }
        </div>
    </li>
}
@if (lstOnliItms != null && lstOnliItms.Count > 0)
{
    <li><b>Online Payment Items</b></li>
    foreach (CartVM item in lstOnliItms)
    {
        decimal ItemTotal = Convert.ToDecimal(item.Qty * item.Price);
        CartTotal = CartTotal + ItemTotal;
        <li>
            <div class="media">
                <a href="#">
                    @if (!string.IsNullOrEmpty(item.ItemImage))
                    {
                        if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + item.ItemImage)))
                        {
                            <img src="~/Images/ProductItemMedia/@item.ItemImage" alt="" class="mr-3" style="width: 40px; height:40px;" />
                        }
                        else
                        {
                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="mr-3" style="width: 40px; height: 40px;" />
                        }
                    }
                    else
                    {
                        <img src="@ErrorMessage.DefaultImagePath" alt="" class="mr-3" style="width: 40px; height: 40px;" />
                    }
                </a>
                <div class="media-body">
                    <a href="#">
                        <h4>@item.ItemName - @item.VariantQtytxt</h4>
                    </a>
                    <h4><span>@item.Qty x ₹ @item.Price</span></h4>
                </div>
            </div>
            <div class="close-circle"><a href="javascript:void(0);" onclick="removecartfromtop('@item.CartId',this);"><i class="fa fa-times" aria-hidden="true"></i></a></div>
        </li>
    }
    <li>
        <div class="total">
            <h5>subtotal : <span>₹ @CartTotal</span></h5>
        </div>
    </li>
    <li>
        <div class="buttons">
            <a href="/cart" class="view-cart">view cart</a>
            @if (clsClientSession.UserID > 0)
            {
                <a href="/checkout" class="checkout" title="Checkout for Online Payment Items">checkout</a>
            }
            else
            {
                <a href="/login?referer=checkout" class="checkout" title="Checkout for Online Payment Items">checkout</a>
            }
        </div>
    </li>
}

@if (TotalCartItem == 0)
{
    <li>
        Cart is Empty
    </li>
}

<script>
    var countts = '@TotalCartItem';
    $(document).ready(function () {
        if (countts == "0") {
            $(".clscartcount").hide();
        }
        else {
            $(".clscartcount").show();
            $(".clscartcount").html(countts);
        }

    });
    function removecartfromtop(CartItemId,objthis) {
        var URL = '/Client/Cart/Removecartitem';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?CartItemId=" + CartItemId,
            success: function (result) {
                alert("Item removed successfully..");
                  $.ajax({
                url: '@Url.Action("CartItemsListTop", "Cart")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //success
                    $("#ulCartitems").html(data); //populate the tab content.
                    if ($("#shipamount").length > 0 && $("#onlineamtinorder").length > 0) {
                        location.reload();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
</script>