@using KrupaBuildGallery.Model;
@model List<CartVM>
@{
    ViewBag.Title = "Cart";
    int counter = 1;
    decimal CartTotal = 0;
}


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (Model != null && Model.Count > 0)
                {
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">

                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">action</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (CartVM item in Model)
                                {
                                    decimal ItemTotal = Convert.ToDecimal(item.Qty * item.Price);
                                    CartTotal = CartTotal + ItemTotal;
                                    <tr class="trcart" data-trid="@item.CartId">

                                        <td>
                                            @if (!string.IsNullOrEmpty(item.ItemImage))
                                            {
                                                if (File.Exists(Server.MapPath("~/Images/ProductItemMedia/" + item.ItemImage)))
                                                {
                                                    <img src="~/Images/ProductItemMedia/@item.ItemImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                                }
                                            }
                                            else
                                            {
                                                <img src="~/Images/default_image.png" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                            }
                                        </td>
                                        <td>
                                            <a href="#">@item.ItemName</a>
                                            <div class="mobile-cart-content row">
                                                <div class="col-xs-3">
                                                    <div class="qty-box">
                                                        <div class="input-group">
                                                            <input type="text" name="quantity" class="form-control input-number" value="@item.Qty">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <h2 class="td-color">@item.Price</h2>
                                                </div>
                                                <div class="col-xs-3">
                                                    <h2 class="td-color"><a href="javascript:void(0);" onclick="removecart('@item.CartId');" class="icon"><i class="ti-close"></i></a></h2>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h2>@item.Price</h2>
                                        </td>
                                        <td>
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="number" name="quantity" class="form-control input-number" value="@item.Qty">
                                                </div>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="icon" onclick="removecart('@item.CartId');"><i class="ti-close"></i></a></td>
                                        <td>
                                            <h2 class="td-color">@ItemTotal</h2>
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }

                            }

                        </tbody>
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                            <tr>
                                <td>total price :</td>
                                <td>
                                    <h2>@CartTotal</h2>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }
                else
                {
                    <div style="text-align:center;">
                        <p>Your cart is currently empty.</p>
                        <a href="/" class="btn btn-solid">continue shopping</a>
                    </div>
                }

            </div>
        </div>
        <div class="row cart-buttons">
            @if (Model != null && Model.Count > 0)
            {
                <div class="col-6"><a href="/" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="javascript:void(0);" onclick="UpdateCart();" class="btn btn-solid" style="margin-right:10px;">Update Cart</a><a href="/checkout" class="btn btn-solid">check out</a></div>

            }
        </div>
    </div>
</section>
<!--section end-->
<script>
    function removecart(CartItemId) {
        var URL = '/Client/Cart/Removecartitem';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?CartItemId=" + CartItemId,
            success: function (result) {
                alert("Item removed successfully..");
                location.reload();
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }

    function UpdateCart() {
        var strcart = "";
        var arrycart = new Array();
        $(".trcart").each(function () {
            var crtId = $(this).attr("data-trid");
            var qty = $(this).find("input[name=quantity]:visible").val();
            arrycart.push(crtId + "^" + qty);
        })
        strcart = arrycart.join("|");
        var URL = '/Client/Cart/UpdateCart';
        jQuery.ajax({
            type: 'POST',
            async: true,
            url: URL + "?CartItems=" + strcart,
            success: function (result) {

                location.reload();
            },
            error: function (resultData) {
                console.log("error");

            }
        });
    }
</script>
